<div class="dropdown-search-account">
  <div [ngClass]="{ disabled: disabled }">
    <div class="search-bar">
      <input
        (blur)="onBlur()"
        class="search-input"
        (focus)="onFocus()"
        [(ngModel)]="query"
        placeholder="Search"
        type="search" />
      <span class="material-icons-outlined search-icon">search</span>
    </div>
  </div>
  <div *ngIf="selectEnabled" class="dropdown-search-account-modal">
    <div *ngIf="!options.length">Find employees</div>
    <div
      *ngFor="let option of options"
      class="row"
      [ngClass]="{ selected: option.id === selectedOption.id }"
      (click)="selectOption(option)">
      {{ option.firstName }}
    </div>
  </div>
</div>
