.card {
  align-items: flex-start;
  background-color: $color-white;
  border-radius: 4 * $grid-base;
  box-shadow: $shadow-accent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 14 * $grid-base);
  margin: 7 * $grid-base 6 * $grid-base;
  overflow: hidden;
  padding: 12 * $grid-base 9 * $grid-base 8 * $grid-base;

  .add-new-button {
    float: right;
  }

  .header {
    align-items: center;
    border-bottom: 0.25 * $grid-base $color-divider solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8 * $grid-base;
    width: 100%;
  }

  .title {
    align-items: center;
    display: flex;

    .material-icons-outlined {
      font-size: 2 * $font-normal;
    }

    h2,
    h4 {
      padding-left: 2 * $grid-base;
    }

    .count {
      color: $color-text-secondary;
      margin-right: 4 * $grid-base;
    }
  }
}

.card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .header {
    border: none;
    margin-bottom: 6 * $grid-base;
    min-height: 12 * $grid-base;
  }
}

.card-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
