.form {
  display: flex;
  flex-direction: column;
  padding: 3 * $grid-base;
  width: 100%;

  input,
  select {
    background-color: $color-white;
    border: none;
    border-bottom: 0.25 * $grid-base $color-divider solid;
    height: 11 * $grid-base;

    &:focus {
      outline: none;
    }
  }

  label {
    color: $color-text-secondary;
    font-size: $font-small;

    span {
      color: $color-error;
      font-size: $font-small;
    }
  }

  .disabled,
  .disabled input {
    color: $color-text-secondary;
  }

  .field {
    width: 100%;
  }

  .left-field {
    margin-right: 6 * $grid-base;
    width: 100%;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 3 * $grid-base 0;

  span {
    padding: 2 * $grid-base 0 0 2 * $grid-base;
    height: 11 * $grid-base;
  }
}

.form-page {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.form-buttons {
  .button {
    margin-left: 2 * $grid-base;
  }
}
