.view-form {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;

  .view-form-content {
    flex: 1;
    width: 100%;
  }

  .form {
    flex: 1;
    padding: 0 31 * $grid-base;
    width: 100%;
  }

  .form-header {
    align-self: flex-start;
    color: $color-text-secondary;
    display: flex;
    font-size: $font-small;
    font-weight: 600;
    margin-bottom: 6 * $grid-base;
  }

  .row,
  .house-info {
    display: flex;
    flex-direction: row;

    input {
      width: 100%;
    }

    textarea {
      height: 48 * $grid-base;
    }
  }

  .modifiers {
    column-gap: 3 * $grid-base;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3 * $grid-base;

    input {
      width: 100%;
    }
  }

  .financial-info {
    display: flex;
  }

  .row.archived {
    > .left-field {
      flex: 1;
    }

    .financial-info {
      flex: 1;
    }
  }

  .row.address-info {
    > .left-field {
      flex: 1;
    }

    .house-info {
      flex: 1;
    }
  }

  .header {
    border-bottom: none;
  }

  .title {
    align-items: center;
    display: flex;

    .picture {
      align-items: center;
      background: $color-disabled;
      display: flex;
      height: 12 * $grid-base;
      justify-content: center;
      margin-right: 4 * $grid-base;
      width: 12 * $grid-base;
    }

    .archived {
      color: $color-text-secondary;
      margin-left: $grid-base;
    }
  }

  .disabled {
    label,
    input::placeholder {
      color: $color-disabled;
    }
  }
}
