<div
  *ngIf="addEmployeeForm"
  class="view-form"
  [formGroup]="addEmployeeForm">
  <div
    class="form"
    formGroupName="personalInfo">
    <div class="form-header">{{ 'Personal Info' | uppercase }}</div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="First Name"
        [required]="isRequired('firstName')">
        <input
          formControlName="firstName"
          placeholder="First Name"
          type="text" />
        <ng-container *ngIf="showErrors('firstName')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'firstName'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Last Name"
        [required]="isRequired('lastName')">
        <input
          formControlName="lastName"
          placeholder="Last Name"
          type="text" />
        <ng-container *ngIf="showErrors('lastName')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'lastName'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Middle Name"
        [required]="isRequired('middleName')">
        <input
          formControlName="middleName"
          placeholder="Middle Name"
          type="text" />
        <ng-container *ngIf="showErrors('middleName')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'middleName'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Sex"
        [required]="isRequired('sex')">
        <bvr-dropdown-list
          formControlName="sex"
          name="sex"
          [options]="sexes"></bvr-dropdown-list>
        <ng-container *ngIf="showErrors('sex')">
          <small
            *ngIf="
              addEmployeeForm.get(['personalInfo', 'sex'])?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Date Of Birth"
        [required]="isRequired('birthDate')">
        <bvr-date-picker formControlName="birthDate"></bvr-date-picker>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Place Of Birth"
        [required]="isRequired('birthPlace')">
        <input
          formControlName="birthPlace"
          placeholder="Place Of Birth"
          type="text" />
        <ng-container *ngIf="showErrors('birthPlace')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'birthPlace'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="ID Card Number"
        [required]="isRequired('idCardNumber')">
        <input
          formControlName="idCardNumber"
          placeholder="ABC 000000"
          type="text" />
        <ng-container *ngIf="showErrors('idCardNumber')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'idCardNumber'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="PESEL"
        [required]="isRequired('pesel')">
        <input
          formControlName="pesel"
          placeholder="00000000000"
          type="text" />
        <ng-container *ngIf="showErrors('pesel')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['personalInfo', 'pesel'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</div>
<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="nextStep()"
    label="Next"></bvr-button>
</div>

<bvr-toast></bvr-toast>
