.dates {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.add-task-form-buttons {
  display: flex;
  justify-content: flex-end;

  .form-button {
    margin: 21.5 * $grid-base 2 * $grid-base 0;
  }
}

@media screen and (max-width: 1400px) {
  .add-task-form-buttons .form-button {
    margin: 6 * $grid-base 2 * $grid-base 0;
  }
}
