.button {
  align-items: center;
  border: none;
  border-radius: 2 * $grid-base;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  padding: 2 * $grid-base;
  transition: 0.5s;

  &:hover {
    filter: brightness(0.85);
  }

  .button-icon-left {
    padding-right: $grid-base;
  }

  .button-icon-right {
    padding-left: $grid-base;
  }
}

.button-icon {
  background-color: transparent;
  border-radius: 8 * $grid-base;
  color: $color-text-secondary;

  &:hover {
    color: $color-text-primary;
  }

  .button-icon-left,
  .button-icon-right {
    height: 6 * $grid-base;
    padding-right: 0;
    width: 6 * $grid-base;
  }
}

.button-primary {
  background-color: $color-primary;
}
