.calendar {
  background-color: $color-white;
  border-radius: 2 * $grid-base;
  box-shadow: 0 $grid-base 12 * $grid-base $color-shadow;
  width: 100%;
}

.calendar-header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 6 * $grid-base;
}

.week-days {
  align-items: center;
  display: flex;
  height: 3rem;
}

.week {
  align-items: center;
  display: flex;
  flex: 1;
}

.day {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}
