.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.week {
  display: flex;
  align-items: center;
  flex: 1;
}

.day {
  display: flex;
  justify-content: center;
  flex: 1;
}
