.calendar {
  background-color: $color-white;
  border-radius: 2 * $grid-base;
  box-shadow: 0 $grid-base 12 * $grid-base $color-shadow;
}

.calendar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 6 * $grid-base;
}

.calendar-body {
  margin: 0 6 * $grid-base;
}

.week-days {
  color: $color-text-secondary;
  display: flex;
  font-size: $font-small;
  font-weight: 600;

  .day {
    cursor: auto;
  }
}

.week {
  align-items: center;
  display: flex;
}

.day {
  align-items: center;
  border-radius: 12.5 * $grid-base;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 12.5 * $grid-base;
  justify-content: space-evenly;
  margin: 3 * $grid-base;
  transition: 0.5s;
  width: 12.5 * $grid-base;

  &.disabled {
    cursor: auto;

    h4 {
      color: $color-disabled;
    }
  }

  &.selected {
    background-color: $color-primary;

    h4 {
      color: $color-white;
      font-weight: 600;
    }
  }
}

.saturday {
  color: $color-text-secondary;
}

.sunday {
  color: $color-rejected;
}

.status {
  border-radius: 2 * $grid-base;
  height: 2 * $grid-base;
  width: 2 * $grid-base;

  &.pending {
    background-color: $color-pending;
  }

  &.rejected {
    background-color: $color-rejected;
  }

  &.approved {
    background-color: $color-approved;
  }

  &.logged {
    background-color: $color-logged;
  }

  &.none {
    background-color: $color-white;
  }
}
