.create-task-form {
  border: 0.25 * $grid-base $color-divider solid;
  border-radius: 2 * $grid-base;
}

.dates {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.create-task-form-buttons {
  display: flex;
  justify-content: center;

  .form-button {
    margin: 12 * $grid-base 2 * $grid-base 0;
  }
}
