.date-picker {
  position: relative;

  input {
    cursor: pointer;
    width: 100%;
  }
}

.date-picker-icon {
  cursor: pointer;
  position: absolute;
  right: 2 * $grid-base;
  top: 50%;
  transform: translateY(-50%);
}

.date-picker-modal {
  background-color: $color-white;
  border-radius: 2 * $grid-base;
  box-shadow: $shadow-default;
  min-width: 48 * $grid-base;
  position: absolute;
  width: 100%;
  z-index: 2;

  .date-picker-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 3 * $grid-base;

    div {
      cursor: pointer;
      font-size: $font-small;
    }

    .material-icons-outlined {
      font-size: $font-normal;
    }
  }

  .date-picker-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 46 * $grid-base;
    padding: 0 3 * $grid-base 3 * $grid-base;
  }

  .week-days {
    justify-content: space-between;
    margin-bottom: $grid-base;

    .day {
      font-size: $font-small;
    }
  }

  .week {
    justify-content: space-between;
  }

  .month .day {
    height: 8 * $grid-base;
    width: 8 * $grid-base;
  }

  .day {
    height: 6 * $grid-base;
    margin: 0;
    width: 6 * $grid-base;

    div {
      font-size: $font-small;
    }

    &.disabled div {
      color: $color-disabled;
    }

    &.selected div {
      color: $color-white;
      font-weight: 600;
    }
  }
}
