.dropdown-search-account {
  height: 100 * $grid-base;
  position: relative;

  input {
    cursor: pointer;
    width: 100%;
  }

  .disabled,
  .disabled input {
    color: $color-disabled;
  }

  .search-bar {
    box-shadow: $shadow-default;
    margin: 0;

    .search-input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 14 * $grid-base;
    }
  }
}

.dropdown-search-account-modal {
  background-color: $color-white;
  width: 100%;

  .row {
    align-items: center;
    border: 0.25 * $grid-base $color-divider solid;
    border-top: none;
    cursor: pointer;
    display: flex;
    height: 14 * $grid-base;
    padding-left: 3 * $grid-base;
    transition: 0.5s;

    &:hover {
      background-color: $color-row-hover;
    }

    &.selected {
      background-color: $color-primary;
      color: $color-white;
      font-weight: 700;
    }
  }
}
