.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 75 * $grid-base;
  }
}
