.sidenav {
  border-right: 0.25 * $grid-base $color-secondary-light solid;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 72 * $grid-base;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .group-header {
    align-items: flex-end;
    border-bottom: 0.25 * $grid-base $color-secondary-light solid;
    color: $text-dark;
    display: flex;
    font-size: $font-regular;
    font-weight: 600;
    height: 12 * $grid-base;
    margin: 2 * $grid-base 0;
    padding: 0 0 2 * $grid-base 4 * $grid-base;
  }

  .option {
    align-items: center;
    color: $color-secondary;
    display: flex;
    height: 16 * $grid-base;
    margin: 0 3 * $grid-base;
    text-decoration: none;
    transition: 0.5s;

    &.active {
      background-color: $color-primary;
      border-radius: 2 * $grid-base;
      color: $text-light;
      font-weight: 600;
    }
  }

  .option-icon {
    padding: 0 2 * $grid-base 0 12 * $grid-base;
  }
}

.sidenav-footer {
  align-items: center;
  border-top: 0.25 * $grid-base $color-secondary-light solid;
  display: flex;
  height: 26 * $grid-base;
  justify-content: space-between;
  padding: 0 3 * $grid-base;

  .profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .profile-image {
    border-radius: 10 * $grid-base;
    height: 10 * $grid-base;
    padding-right: 3 * $grid-base;
    width: 10 * $grid-base;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .email {
      font-size: $font-regular;
      font-weight: 300;
    }
  }
}
