.tab {
  border-radius: 2 * $grid-base;
  color: $color-text-secondary;
  cursor: pointer;
  margin-right: 3 * $grid-base;
  padding: 3 * $grid-base 4 * $grid-base;
  text-align: center;
  transition: 0.5s;
}

.active-tab {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;
}
