.table-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 16 * $grid-base;

  .add-new-button {
    float: right;
  }
}

.search-bar {
  align-items: center;
  display: flex;
  margin: 4 * $grid-base 0;
  position: relative;
  width: 100%;

  .search-input {
    border: 0.25 * $grid-base $color-secondary solid;
    border-radius: 2 * $grid-base;
    padding: 2 * $grid-base 0 2 * $grid-base 10 * $grid-base;
    width: 100%;
  }

  .search-icon {
    padding-left: 3 * $grid-base;
    position: absolute;
  }

  .mat-form-field-flex {
    padding-left: 2rem;
  }
}

.table {
  background-color: $color-white;
  padding-bottom: 6 * $grid-base;
  width: 100%;

  table {
    border-collapse: collapse;
    border-radius: 2 * $grid-base 2 * $grid-base 0 0;
    width: 100%;
  }

  .table-cell {
    display: flex;
    align-items: center;
  }

  .cdk-header-cell {
    text-align: left;
  }

  .cdk-header-row {
    border-bottom: 0.25 * $grid-base #c3bebe solid;
    height: 16 * $grid-base;
  }

  .cdk-row {
    border-bottom: 0.25 * $grid-base #ededed solid;
    cursor: pointer;
    height: 14 * $grid-base;
    transition: 0.5s;

    &:hover {
      // background-color: $color-primary;
      background-color: #e9f7ea;
    }
  }

  tr {
    td:first-child,
    th:first-child {
      padding-left: 8 * $grid-base;
    }

    td:last-child,
    th:last-child {
      padding-right: 8 * $grid-base;
    }
  }
}

.picture {
  border-radius: 8 * $grid-base;
  height: 8 * $grid-base;
  margin-right: 3 * $grid-base;
  width: 8 * $grid-base;
}
