.tracker-right-side {
  width: 100%;
  margin: 0 9 * $grid-base;
}

.tracker-toggle {
  display: flex;
  flex-direction: column;
  width: 100%;

  .toggle {
    align-items: center;
    border: 0.25 * $grid-base $color-divider solid;
    border-radius: 2 * $grid-base;
    color: $color-text-secondary;
    cursor: pointer;
    display: flex;
    height: 12 * $grid-base;
    justify-content: space-between;
    margin-bottom: 3 * $grid-base;

    h5 {
      padding: 3 * $grid-base;
    }

    &.selected {
      background-color: $color-primary;
      border: none;
      color: $color-white;
    }
  }
}
