<div
  *ngIf="editEmployeeForm"
  [formGroup]="editEmployeeForm">
  <div
    class="form"
    formGroupName="accountInfo">
    <div class="form-header">{{ 'Account Info' | uppercase }}</div>
    <bvr-form-field
      label="Email"
      [required]="isRequired(controls.email)">
      <input
        formControlName="email"
        type="email" />
      <bvr-error
        class="error"
        [control]="controls.email"></bvr-error>
    </bvr-form-field>

    <bvr-edit-password></bvr-edit-password>
  </div>
</div>
