<div
  *ngIf="employee"
  class="form">
  <div class="form-header">{{ 'Personal Info' | uppercase }}</div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="First Name">
      <span>{{ employee.firstName }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Last Name">
      <span>{{ employee.lastName }}</span>
    </bvr-form-field>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Middle Name">
      <span>{{ employee.middleName }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Sex">
      <span>{{ employee.sex.name }}</span>
    </bvr-form-field>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Date Of Birth">
      <span>{{ employee.birthDate | date: 'dd/MM/yyyy' }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Place Of Birth">
      <span>{{ employee.birthPlace }}</span>
    </bvr-form-field>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="ID Card Number">
      <span>{{ employee.idCardNumber }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="PESEL">
      <span>{{ employee.pesel }}</span>
    </bvr-form-field>
  </div>
</div>
