<div
  *ngIf="addEmployeeForm"
  class="add-form"
  [formGroup]="addEmployeeForm">
  <div
    class="form"
    formGroupName="employmentInfo">
    <div class="form-header">{{ 'Employment Info' | uppercase }}</div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Position"
        [required]="isRequired('position')">
        <bvr-dropdown-list
          formControlName="position"
          name="position"
          [options]="positions"></bvr-dropdown-list>
        <ng-container *ngIf="showErrors('position')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['employmentInfo', 'position'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Hire Date"
        [required]="isRequired('employmentDate')">
        <bvr-date-picker formControlName="employmentDate"></bvr-date-picker>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Contract Type"
        [required]="isRequired('contractType')">
        <bvr-dropdown-list
          formControlName="contractType"
          name="contract type"
          [options]="contractTypes"></bvr-dropdown-list>
        <ng-container *ngIf="showErrors('contractType')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['employmentInfo', 'contractType'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Working Time"
        [required]="isRequired('workingTime')">
        <input
          formControlName="workingTime"
          placeholder="Working Time"
          type="number" />
        <ng-container *ngIf="showErrors('workingTime')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['employmentInfo', 'workingTime'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Rate"
        [required]="isRequired('wage')">
        <input
          formControlName="wage"
          placeholder="00.00 PLN"
          type="number" />
        <ng-container *ngIf="showErrors('wage')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['employmentInfo', 'wage'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Payday"
        [required]="isRequired('payday')">
        <input
          formControlName="payday"
          placeholder="Day"
          type="number" />
        <ng-container *ngIf="showErrors('payday')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['employmentInfo', 'payday'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <bvr-form-field
      label="Account number"
      [required]="isRequired('accountNumber')">
      <input
        formControlName="accountNumber"
        placeholder="00 0000 0000 0000 0000 0000"
        type="text" />
      <ng-container *ngIf="showErrors('accountNumber')">
        <small
          *ngIf="
            addEmployeeForm
              .get(['employmentInfo', 'accountNumber'])
              ?.hasError('required')
          "
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
  </div>
</div>
<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStepChange.emit()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="nextStep()"
    label="Next"></bvr-button>
</div>

<bvr-toast></bvr-toast>
