<div
  *ngIf="addEmployeeForm"
  class="view-form"
  [formGroup]="addEmployeeForm">
  <div
    class="form"
    formGroupName="accountInfo">
    <div class="form-header">{{ 'Account Info' | uppercase }}</div>
    <bvr-form-field
      label="Email"
      [required]="isRequired('email')">
      <input
        formControlName="email"
        placeholder="email.example@mail.com"
        type="email" />
      <bvr-error
        class="error"
        [control]="addEmployeeForm.get(['accountInfo', 'email'])"></bvr-error>
    </bvr-form-field>
    <bvr-form-field
      label="Password"
      [required]="isRequired('password')">
      <input
        formControlName="password"
        placeholder="*********"
        type="password" />
      <bvr-error
        class="error"
        [control]="
          addEmployeeForm.get(['accountInfo', 'password'])
        "></bvr-error>
    </bvr-form-field>
    <bvr-form-field
      label="Repeat Password"
      [required]="isRequired('repeatPassword')">
      <input
        formControlName="repeatPassword"
        placeholder="*********"
        type="password" />
      <bvr-error
        class="error"
        [control]="
          addEmployeeForm.get(['accountInfo', 'repeatPassword'])
        "></bvr-error>
    </bvr-form-field>
    <bvr-error
      class="error"
      [control]="addEmployeeForm.get(['accountInfo'])"></bvr-error>
  </div>
</div>
<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStepChange.emit()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new employee'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
