<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">groups</span>
      <h2 class="name">Employees</h2>
      <h4 class="count">({{ dataSource.length }})</h4>
    </div>
  </div>

  <div class="card-content">
    <div class="header">
      <div class="title">
        <h3>Accounts</h3>
        <h4>({{ dataSource.length }})</h4>
        <div class="radio">
          <input name="showActive" [(ngModel)]="showActive" type="radio" [value]="true" />
          <label>Active</label>
        </div>
        <div class="radio">
          <input name="showActive" [(ngModel)]="showActive" type="radio" [value]="false" />
          <label>Archive</label>
        </div>
      </div>
      <bvr-button class="create-new-button" label="Create new" [routerLink]="['create']"></bvr-button>
    </div>

    <div class="search-bar">
      <input class="search-input" [(ngModel)]="query" placeholder="Search" type="search" />
      <span class="material-icons-outlined search-icon">search</span>
    </div>

    <div class="table">
      <table cdk-table [dataSource]="dataSource">
        <ng-container cdkColumnDef="person">
          <th cdk-header-cell *cdkHeaderCellDef>Person</th>
          <td cdk-cell *cdkCellDef="let element">
            <div class="table-cell">
              <img [src]="element.image" class="picture" />
              <span>{{ element.firstName }} {{ element.lastName }}</span>
            </div>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="position">
          <th cdk-header-cell *cdkHeaderCellDef>Position</th>
          <td cdk-cell *cdkCellDef="let element">{{ element.position }}</td>
        </ng-container>
        <ng-container cdkColumnDef="employmentDate">
          <th cdk-header-cell *cdkHeaderCellDef>Hire date</th>
          <td cdk-cell *cdkCellDef="let element">
            {{ element.employmentDate | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef>Options</th>
          <td cdk-cell *cdkCellDef="let element">
            <bvr-button (click)="editEmployee($event, element)" icon="edit" styleClass="button-icon"></bvr-button>
            <bvr-button icon="delete" styleClass="button-icon"></bvr-button>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns; let i = index" (click)="showEmployeeDetails(row)">
        </tr>
      </table>
    </div>
  </div>
</div>