<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">groups</span>
      <h2>Employees</h2>
    </div>
  </div>

  <div class="card-content">
    <div class="header">
      <div class="title">
        <h4>Accounts</h4>
        <h4 class="count">({{ dataSource.length }})</h4>
        <div class="radio">
          <input
            name="showActive"
            [(ngModel)]="showActive"
            (ngModelChange)="showActiveTable(true)"
            type="radio"
            [value]="true" />
          <label>Active</label>
        </div>
        <div class="radio">
          <input
            name="showActive"
            [(ngModel)]="showActive"
            (ngModelChange)="showActiveTable(false)"
            type="radio"
            [value]="false" />
          <label>Archived</label>
        </div>
      </div>
      <bvr-button
        class="add-new-button"
        label="Add new"
        [routerLink]="['add']"></bvr-button>
    </div>

    <div class="search-bar">
      <input
        class="search-input"
        [(ngModel)]="query"
        placeholder="Search"
        type="search" />
      <span class="material-icons-outlined search-icon">search</span>
    </div>

    <div
      *ngIf="showActive"
      class="table">
      <table
        cdk-table
        [dataSource]="dataSource">
        <ng-container cdkColumnDef="person">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Person
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            <div class="table-cell">
              <img
                *ngIf="element.image"
                [src]="element.image"
                class="picture" />
              <span
                *ngIf="!element.image"
                class="picture">
                {{ element.firstName[0] }}{{ element.lastName[0] }}
              </span>
              <span>{{ element.firstName }} {{ element.lastName }}</span>
            </div>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="position">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Position
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.position }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="workingTime">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Working Time
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.workingTime }} h
          </td>
        </ng-container>
        <ng-container cdkColumnDef="hireDate">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Hire date
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.employmentDate | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Actions
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            <bvr-button
              (click)="editEmployee($event, element)"
              icon="edit"
              styleClass="button-icon"></bvr-button>
            <bvr-button
              (click)="openArchiveModal($event, element)"
              icon="archive"
              styleClass="button-icon">
            </bvr-button>
          </td>
        </ng-container>
        <tr
          cdk-header-row
          *cdkHeaderRowDef="displayedActiveColumns"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: displayedActiveColumns"
          (click)="showEmployeeDetails(row)"></tr>
      </table>
    </div>

    <div
      *ngIf="!showActive"
      class="table">
      <table
        cdk-table
        [dataSource]="dataSource">
        <ng-container cdkColumnDef="person">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Person
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            <div class="table-cell">
              <img
                *ngIf="element.image"
                [src]="element.image"
                class="picture archived" />
              <span
                *ngIf="!element.image"
                class="picture">
                {{ element.firstName[0] }}{{ element.lastName[0] }}
              </span>
              <span>{{ element.firstName }} {{ element.lastName }}</span>
            </div>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="position">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Position
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.position }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="hireDate">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Hire date
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.employmentDate | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="exitDate">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            Exit date
          </th>
          <td
            cdk-cell
            *cdkCellDef="let element">
            {{ element.exitDate | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <tr
          cdk-header-row
          *cdkHeaderRowDef="displayedArchivedColumns"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: displayedArchivedColumns"
          (click)="showEmployeeDetails(row)"></tr>
      </table>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="archive()"
  confirmLabel="archive"
  [description]="modalDescription"
  [title]="'Archive employee'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
