<div
  *ngIf="editGlobalSettingsForm"
  [formGroup]="editGlobalSettingsForm">
  <div
    class="form"
    formGroupName="companyInfo">
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Company Name"
        [required]="isRequired('companyName')">
        <input
          formControlName="companyName"
          type="text" />
        <ng-container *ngIf="showErrors('companyName')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'companyName'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="REGON"
        [required]="isRequired('regon')">
        <input
          formControlName="regon"
          type="text" />
        <ng-container *ngIf="showErrors('regon')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'regon'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="NIP"
        [required]="isRequired('nip')">
        <input
          formControlName="nip"
          type="text" />
        <ng-container *ngIf="showErrors('nip')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'nip'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="KRS"
        [required]="isRequired('krs')">
        <input
          formControlName="krs"
          type="text" />
        <ng-container *ngIf="showErrors('krs')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'krs'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Logo"
        [required]="isRequired('logo')">
        <bvr-file-upload formControlName="logo"></bvr-file-upload>
        <ng-container *ngIf="showErrors('logo')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'logo'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Description"
        [required]="isRequired('description')">
        <textarea formControlName="description"></textarea>
        <ng-container *ngIf="showErrors('description')">
          <small
            *ngIf="
              editGlobalSettingsForm
                .get(['companyInfo', 'description'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</div>
