<div
  *ngIf="editGlobalSettingsForm"
  [formGroup]="editGlobalSettingsForm">
  <div
    class="form"
    formGroupName="companyInfo">
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Company Name"
        [required]="isRequired('companyName')">
        <input
          formControlName="companyName"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'companyName'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="REGON"
        [required]="isRequired('regon')">
        <bvr-input-number
          [decimalPlaces]="0"
          [digits]="14"
          formControlName="regon"
          placeholder="REGON"></bvr-input-number>
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'regon'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="NIP"
        [required]="isRequired('nip')">
        <bvr-input-number
          [decimalPlaces]="0"
          [digits]="10"
          formControlName="nip"
          placeholder="NIP"></bvr-input-number>
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'nip'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="KRS"
        [required]="isRequired('krs')">
        <bvr-input-number
          [decimalPlaces]="0"
          [digits]="10"
          formControlName="krs"
          placeholder="KRS"></bvr-input-number>
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'krs'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Logo"
        [required]="isRequired('logo')">
        <bvr-file-upload formControlName="logo"></bvr-file-upload>
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'logo'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Description"
        [required]="isRequired('description')">
        <textarea formControlName="description"></textarea>
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['companyInfo', 'description'])
          "></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
