<div class="approval-tracker card-content">
  <form [formGroup]="approveTasksForm">
    <bvr-form-field>
      <bvr-dropdown-search-employee
        *ngIf="employees.length"
        formControlName="id"
        [isActive]="isActive"
        name="id"
        [options]="employees">
      </bvr-dropdown-search-employee>
    </bvr-form-field>
  </form>
  <div class="tracker">
    <bvr-calendar></bvr-calendar>
    <div class="tracker-right-side">
      <div class="tracker-list">
        <bvr-approval-tracker-list
          [isActive]="isActive"
          [refreshTaskList]="refreshTaskList.asObservable()">
        </bvr-approval-tracker-list>
      </div>
      <div class="form-buttons">
        <bvr-button
          class="form-button"
          (click)="openCancelModal(false)"
          label="Cancel"
          styleClass="button-text"></bvr-button>
        <bvr-button
          *ngIf="isActive"
          class="form-button"
          (click)="openConfirmModal()"
          label="Confirm"></bvr-button>
      </div>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isResetModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="confirm()"
  confirmLabel="Confirm"
  [description]="modalDescription"
  [title]="'Confirm'"
  [(visible)]="isConfirmModalOpen"></bvr-modal>
