<div
  *ngIf="addProjectEmployeeForm"
  class="select-wage form"
  [formGroup]="addProjectEmployeeForm">
  <div formGroupName="employmentInfo">
    <bvr-form-field
      label="Contract Type"
      [required]="isRequired('contractType')">
      <bvr-dropdown-list
        formControlName="contractType"
        name="contract type"
        [options]="contractTypes">
      </bvr-dropdown-list>
    </bvr-form-field>
    <div class="financial-info">
      <bvr-form-field
        class="left-field"
        label="Working Time"
        [required]="isRequired('workingTime')">
        <input formControlName="workingTime" type="number" />
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Wage"
        [required]="isRequired('wage')">
        <input formControlName="wage" type="number" />
      </bvr-form-field>
    </div>
  </div>
</div>

<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal()"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStep()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="confirm()"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add New User'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-modal
  (confirm)="cancel()"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>
