<div *ngIf="addProjectEmployeeForm" class="select-wage form" [formGroup]="addProjectEmployeeForm">
  <div formGroupName="employmentInfo">
    <bvr-form-field label="Contract Type" [required]="isRequired('contractType')">
      <bvr-dropdown-list formControlName="contractType" name="contract type" [options]="contractTypes">
      </bvr-dropdown-list>
      <ng-container *ngIf="showErrors('contractType')">
        <small *ngIf="
            addProjectEmployeeForm
              .get(['employmentInfo', 'contractType'])
              ?.hasError('required')
          ">This field is required.</small>
      </ng-container>
    </bvr-form-field>
    <div class="financial-info">
      <bvr-form-field class="left-field" label="Working Time" [required]="isRequired('workingTime')">
        <input formControlName="workingTime" type="number" />
        <ng-container *ngIf="showErrors('workingTime')">
          <small *ngIf="
              addProjectEmployeeForm
                .get(['employmentInfo', 'workingTime'])
                ?.hasError('required')
            ">This field is required.</small>
        </ng-container>
      </bvr-form-field>
      <bvr-form-field class="field" label="Wage" [required]="isRequired('wage')">
        <input formControlName="wage" type="number" />
        <ng-container *ngIf="showErrors('wage')">
          <small *ngIf="
              addProjectEmployeeForm
                .get(['employmentInfo', 'wage'])
                ?.hasError('required')
            ">This field is required.</small>
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</div>

<div class="form-buttons">
  <bvr-button class="form-button" (click)="openCancelModal(false)" label="Cancel" styleClass="button-text"></bvr-button>
  <bvr-button class="form-button" (click)="previousStep()" label="Previous"></bvr-button>
  <bvr-button class="form-button" (click)="openAddModal()" label="Add"></bvr-button>
</div>

<bvr-modal (confirm)="add()" confirmLabel="Add" [description]="modalDescription" [title]="'Add new employee'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-modal (confirm)="cancel($event)" confirmLabel="Leave" [description]="modalDescription" [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>