<div
  *ngIf="addEmployeeForm"
  class="add-employee"
  [formGroup]="addEmployeeForm">
  <div
    class="form"
    formGroupName="addressInfo">
    <div class="form-header">{{ 'Address Info' | uppercase }}</div>
    <div class="row address-info">
      <bvr-form-field
        class="left-field"
        label="Street"
        [required]="isRequired('street')">
        <input
          formControlName="street"
          placeholder="Street Name"
          type="text" />
        <ng-container *ngIf="showErrors('street')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['addressInfo', 'street'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <div class="house-info">
        <bvr-form-field
          class="left-field"
          label="House Number"
          [required]="isRequired('houseNumber')">
          <input
            formControlName="houseNumber"
            placeholder="0"
            type="text" />
          <ng-container *ngIf="showErrors('houseNumber')">
            <small
              *ngIf="
                addEmployeeForm
                  .get(['addressInfo', 'houseNumber'])
                  ?.hasError('required')
              "
              >This field is required.</small
            >
          </ng-container>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          label="Apartment Number"
          [required]="isRequired('apartmentNumber')">
          <input
            formControlName="apartmentNumber"
            placeholder="0"
            type="text" />
          <ng-container *ngIf="showErrors('apartmentNumber')">
            <small
              *ngIf="
                addEmployeeForm
                  .get(['addressInfo', 'apartmentNumber'])
                  ?.hasError('required')
              "
              >This field is required.</small
            >
          </ng-container>
        </bvr-form-field>
      </div>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="City"
        [required]="isRequired('city')">
        <input
          formControlName="city"
          placeholder="City Name"
          type="text" />
        <ng-container *ngIf="showErrors('city')">
          <small
            *ngIf="
              addEmployeeForm.get(['addressInfo', 'city'])?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Postal Code"
        [required]="isRequired('postalCode')">
        <input
          formControlName="postalCode"
          placeholder="00-000"
          type="text" />
        <ng-container *ngIf="showErrors('postalCode')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['addressInfo', 'postalCode'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <bvr-form-field
      class="field"
      label="Country"
      [required]="isRequired('country')">
      <bvr-dropdown-list
        formControlName="country"
        name="country"
        [options]="countries"></bvr-dropdown-list>
      <ng-container *ngIf="showErrors('country')">
        <small
          *ngIf="
            addEmployeeForm
              .get(['addressInfo', 'country'])
              ?.hasError('required')
          "
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Phone number"
        [required]="isRequired('phoneNumber')">
        <input
          formControlName="phoneNumber"
          placeholder="+00 000 000 000"
          type="tel" />
        <ng-container *ngIf="showErrors('phoneNumber')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['addressInfo', 'phoneNumber'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Private email"
        [required]="isRequired('privateEmail')">
        <input
          formControlName="privateEmail"
          placeholder="private.email@mail.com"
          type="email" />
        <ng-container *ngIf="showErrors('privateEmail')">
          <small
            *ngIf="
              addEmployeeForm
                .get(['addressInfo', 'privateEmail'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</div>

<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStepChange.emit()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="nextStep()"
    label="Next"></bvr-button>
</div>

<bvr-toast></bvr-toast>
