<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">work_outline</span>
      <h2>Position</h2>
    </div>
  </div>
  <div
    *ngIf="position"
    class="card-content view-form">
    <div class="header">
      <div class="title">
        <h4>{{ position.name }}</h4>
        <h4
          *ngIf="!position.active"
          class="archived">
          (Archived)
        </h4>
      </div>
      <div *ngIf="position.active">
        <bvr-button
          icon="edit"
          [routerLink]="['edit']"
          styleClass="button-icon"></bvr-button>
        <bvr-button
          (click)="openArchiveModal()"
          icon="archive"
          styleClass="button-icon"></bvr-button>
      </div>
    </div>
    <div class="form">
      <div class="row">
        <bvr-form-field
          class="left-field"
          label="Creation Date">
          <span>{{ position.creationDate | date: 'dd/MM/yyyy' }}</span>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          *ngIf="!position.active"
          class="field"
          label="Archive Date">
          <span>{{ position.archiveDate | date: 'dd/MM/yyyy' }}</span>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          *ngIf="position.active"
          class="field"
          label="Count">
          <span>{{ position.count }}</span>
        </bvr-form-field>
      </div>
      <bvr-form-field
        class="field"
        label="Description">
        <span>{{ position.description }}</span>
      </bvr-form-field>
    </div>
    <div class="form-buttons">
      <bvr-button
        class="form-button"
        label="Cancel"
        [routerLink]="['..']"
        styleClass="button-text"></bvr-button>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="archive($event)"
  confirmLabel="archive"
  [description]="modalDescription"
  [title]="'Archive position'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
