<div class="project-task">
  <div class="header">
    <div class="name">
      <h4>Edit Task</h4>
    </div>
    <bvr-button
      (click)="openArchiveModal()"
      icon="archive"
      styleClass="button-icon"></bvr-button>
  </div>
  <div
    class="form"
    [formGroup]="editProjectTaskForm">
    <bvr-form-field
      label="Task Name"
      [required]="isRequired('name')">
      <input
        formControlName="name"
        type="text" />
      <ng-container *ngIf="showErrors('name')">
        <small *ngIf="editProjectTaskForm.get('name')?.hasError('required')"
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
    <bvr-form-field
      label="Task Description"
      [required]="isRequired('description')">
      <textarea formControlName="description"></textarea>
      <ng-container *ngIf="showErrors('description')">
        <small
          *ngIf="editProjectTaskForm.get('description')?.hasError('required')"
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
  </div>
</div>
<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openSaveModal()"
    label="Save"></bvr-button>
</div>

<bvr-modal
  (confirm)="archive()"
  confirmLabel="Archive"
  [description]="modalDescription"
  [title]="'Archive task'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="save($event)"
  confirmLabel="Save"
  [description]="modalDescription"
  [title]="'Save changes'"
  [(visible)]="isSaveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
