<div *ngIf="editEmployeeForm" [formGroup]="editEmployeeForm">
    <div class="form" formGroupName="accountInfo">
        <div class="form-header">{{ 'Account Info' | uppercase }}</div>
        <bvr-form-field label="Email" [required]="isRequired('email')">
            <input formControlName="email" type="email" />
            <ng-container *ngIf="showErrors('email')">
                <small *ngIf="
                    editEmployeeForm
                      .get(['accountInfo', 'email'])
                      ?.hasError('required')
                  ">This field is required.</small>
            </ng-container>
        </bvr-form-field>

        <bvr-edit-password></bvr-edit-password>
    </div>
</div>