$color-black: #000000;
$color-white: #ffffff;
$color-background: #f8f8f9;

$color-primary: #0d6238;
$color-primary-hover: #15834d;
$color-row-hover: #e6f5ed;

$color-secondary-focus: #30282a;
$color-secondary: #544a4c;
$color-secondary-hover: #73696c;

$color-error: #de001c;
$color-success: #00a10d;
$color-warning: #f8a72f;
$color-info: #0000fb;

$color-disabled: #d4d4d4;
$color-divider: #ededed;

$color-text-primary: #2a2a2a;
$color-text-secondary: #999b9d;
