// $color-black: #000000;
// $color-white: #ffffff;

// $color-primary: #0b6339;
// $color-primary-hover: #107d49;
$color-primary-focus: #084829;
// $color-text-primary: $color-black;
// $color-secondary: #e9f7ea;
// $color-text-secondary: #a0a0a0;
// $color-disabled: #dedede;
$color-shadow: #d9d9d93d;

// $color-divider: #e8e8e7;
// $color-background: #f8f8f9;

// $color-pending: #ffc700;
// $color-rejected: #ff0000;
// $color-logged: #0500ff;
// $color-approved: #4dcf1f;

$grid-base: 0.25rem;
