$color-primary: #0b6339;
$color-primary-light: #aaccaa;
$color-secondary: #333333;
$color-secondary-light: #aaaaaa;
$text-dark: #333333;
$text-light: #ffffff;

$grid-base: 0.25rem;

$font-regular: 0.75rem;
$font-large: 1rem;
