<div class="sidenav">
  <div class="sidenav-logo">
    <img src="assets/svg/logo.svg" />
  </div>
  <nav class="sidenav-menu">
    <div *ngFor="let group of navMenuGroups">
      <div class="group-header">{{ group.name | uppercase }}</div>
      <div
        *ngFor="let option of group.options"
        class="option"
        [routerLink]="[option.path]"
        routerLinkActive="active">
        <span class="material-icons-outlined option-icon">{{
          option.icon
        }}</span>
        <span>{{ option.name }}</span>
      </div>
    </div>
  </nav>
  <div class="sidenav-footer">
    <div
      *ngIf="currentEmployee"
      class="profile"
      [routerLink]="['/profile']">
      <img
        *ngIf="currentEmployee.image"
        class="profile-image"
        [src]="currentEmployee.image" />
      <span
        *ngIf="!currentEmployee.image"
        class="profile-image">
        {{ currentEmployee.firstName[0] }}{{ currentEmployee.lastName[0] }}
      </span>
      <div class="profile-info">
        <span
          >{{ currentEmployee.firstName }} {{ currentEmployee.lastName }}</span
        >
        <span class="email">{{ currentEmployee.email }}</span>
      </div>
    </div>
    <bvr-button
      (click)="openLogoutModal.emit()"
      icon="logout"
      styleClass="button-icon"></bvr-button>
  </div>
</div>
