<div class="view-form">
  <div class="header">
    <div class="title">
      <h4>Task: {{ task.name }}</h4>
      <h4
        *ngIf="!task.active"
        class="archived">
        (Archived)
      </h4>
    </div>
    <div *ngIf="task.active">
      <bvr-button
        icon="edit"
        [routerLink]="['edit']"
        styleClass="button-icon"></bvr-button>
      <bvr-button
        (click)="openArchiveModal()"
        icon="archive"
        styleClass="button-icon"></bvr-button>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Creation Date">
        <span>{{ task.creationDate }}</span>
      </bvr-form-field>
      <bvr-form-field
        *ngIf="!task.active"
        class="field"
        label="Archive Date">
        <span>{{ task.archiveDate }}</span>
      </bvr-form-field>
    </div>
    <bvr-form-field
      class="field description"
      label="Description">
      <span>{{ task.description }}</span>
    </bvr-form-field>
  </div>
</div>
<div class="form-buttons">
  <bvr-button
    label="Cancel"
    [routerLink]="['..']"
    styleClass="button-text"></bvr-button>
</div>

<bvr-modal
  (confirm)="archive()"
  confirmLabel="archive"
  [description]="modalDescription"
  [title]="'Archive task'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
