<div class="project-task">
  <div class="header">
    <div class="name">
      <h4>Task: {{ task.name }}</h4>
    </div>
    <bvr-button
      *ngIf="task.active"
      icon="edit"
      [routerLink]="['edit']"
      styleClass="button-icon"></bvr-button>
  </div>
  <div class="form">
    <div class="dates">
      <bvr-form-field class="disabled left-field" label="Creation Date">
        <span>{{ task.creationDate }}</span>
      </bvr-form-field>
      <bvr-form-field
        *ngIf="!task.active"
        class="disabled field"
        label="Archive Date">
        <span>{{ task.archiveDate }}</span>
      </bvr-form-field>
    </div>
    <bvr-form-field class="disabled field description" label="Description">
      <span>{{ task.description }}</span>
    </bvr-form-field>
  </div>
  <div class="form-buttons">
    <bvr-button
      label="Cancel"
      [routerLink]="['..']"
      styleClass="button-text"></bvr-button>
  </div>
</div>
