<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">work_outline</span>
      <h2>Position</h2>
    </div>
  </div>
  <div class="card-content view-form">
    <div class="header">
      <div class="title">
        <h4>Add New Position</h4>
      </div>
    </div>
    <div
      class="form"
      [formGroup]="addPositionForm">
      <bvr-form-field
        label="Name"
        [required]="isRequired(controls.name)">
        <input
          formControlName="name"
          placeholder="Position Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.name"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        label="Description"
        [required]="isRequired(controls.description)">
        <input
          formControlName="description"
          placeholder="Example position description"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.description"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="form-buttons">
      <bvr-button
        class="form-button"
        (click)="openCancelModal(false)"
        label="Cancel"
        styleClass="button-text"></bvr-button>
      <bvr-button
        class="form-button"
        (click)="openAddModal()"
        label="Add"></bvr-button>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new position'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
