<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">work_outline</span>
      <h2 class="name">Create position</h2>
    </div>
  </div>
  <div class="card-body">
    <div [formGroup]="addPositionForm" class="create-position">
      <div class="form">
        <bvr-form-field label="Name" [required]="isRequired('name')">
          <input formControlName="name" type="text" />
          <ng-container *ngIf="showErrors('name')">
            <small *ngIf="addPositionForm.get('name')?.hasError('required')">This field is required.</small>
          </ng-container>
        </bvr-form-field>
        <bvr-form-field label="Description" [required]="isRequired('description')">
          <input formControlName="description" type="text" />
          <ng-container *ngIf="showErrors('description')">
            <small *ngIf="
                addPositionForm.get('description')?.hasError('required')
              ">This field is required.</small>
          </ng-container>
        </bvr-form-field>
      </div>
      <div class="form-buttons">
        <bvr-button class="form-button" (click)="openCancelModal()" label="Cancel"
          styleClass="button-text"></bvr-button>
        <bvr-button class="form-button" (click)="openAddModal()" label="Create"></bvr-button>
      </div>
    </div>
  </div>
</div>

<bvr-modal (confirm)="add()" confirmLabel="Create" [description]="modalDescription" [title]="'Create New Position'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-modal (confirm)="cancel()" confirmLabel="Leave" [description]="modalDescription" [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>