<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">groups</span>
      <h2 class="name">Employee</h2>
    </div>
  </div>
  <div class="card-body">
    <div class="stepper">
      <div class="title">
        <h4>Add New Employee</h4>
      </div>
      <div class="stepper-header">
        <div class="step" [ngClass]="{ 'active-step': step === 1, 'previous-step': step > 1 }">
          1
        </div>
        <div class="divider"></div>
        <div class="step" [ngClass]="{
            'next-step': step === 1,
            'active-step': step === 2,
            'previous-step': step > 2
          }">
          2
        </div>
        <div class="divider"></div>
        <div class="step" [ngClass]="{
            'next-step': step < 3,
            'active-step': step === 3,
            'previous-step': step === 4
          }">
          3
        </div>
        <div class="divider"></div>
        <div class="step" [ngClass]="{ 'active-step': step === 4, 'next-step': step < 4 }">
          4
        </div>
      </div>
      <form [@tabs]="step" class="steps">
        <div *ngIf="step === 1">
          <bvr-personal-info [addEmployeeForm]="addEmployeeForm" (nextStepChange)="nextStep()"
            (openCancelModal)="openCancelModal()"></bvr-personal-info>
        </div>
        <div *ngIf="step === 2">
          <bvr-address-info [addEmployeeForm]="addEmployeeForm" (nextStepChange)="nextStep()"
            (openCancelModal)="openCancelModal()" (previousStepChange)="previousStep()"></bvr-address-info>
        </div>
        <div *ngIf="step === 3">
          <bvr-employment-info [addEmployeeForm]="addEmployeeForm" (nextStepChange)="nextStep()"
            (openCancelModal)="openCancelModal()" (previousStepChange)="previousStep()"></bvr-employment-info>
        </div>
        <div *ngIf="step === 4">
          <bvr-account-info [addEmployeeForm]="addEmployeeForm" (openCancelModal)="openCancelModal()"
            (previousStepChange)="previousStep()"></bvr-account-info>
        </div>
      </form>
    </div>
  </div>
</div>

<bvr-modal (confirm)="cancel()" confirmLabel="Leave" [description]="modalDescription" [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>