<div class="login-page">
  <div
    *ngIf="!isPasswordForgotten"
    class="login-window">
    <img
      src="assets/svg/logo.svg"
      class="logo" />
    <form
      class="form"
      [formGroup]="loginForm">
      <div class="form-field">
        <label class="label">E-mail</label>
        <input
          class="input"
          formControlName="email"
          placeholder="name@mail.com"
          type="email" />
        <ng-container *ngIf="showErrors('email')">
          <small *ngIf="loginForm.get('email')?.hasError('required')"
            >This field is required.</small
          >
        </ng-container>
      </div>
      <div class="form-field">
        <label class="label">Password</label>
        <input
          class="input"
          formControlName="password"
          placeholder="**************"
          type="password" />
        <ng-container *ngIf="showErrors('password')">
          <small *ngIf="loginForm.get('password')?.hasError('required')"
            >This field is required.</small
          >
        </ng-container>
      </div>
    </form>
    <div
      class="forgot-password"
      (click)="forgotPassword()">
      {{ 'Forgot Password?' | uppercase }}
    </div>
    <bvr-button
      class="login-button"
      (click)="login()"
      label="Log In">
    </bvr-button>
  </div>
  <div
    *ngIf="isPasswordForgotten"
    class="login-window">
    <img
      src="assets/svg/logo.svg"
      class="logo" />
    <div class="forgot-info">
      If you can't sign in, you must contact with IT administrator to reset your
      password.
    </div>
    <bvr-button
      class="login-button"
      (click)="forgotPassword()"
      label="back">
    </bvr-button>
  </div>
</div>
