<div class="login-page">
  <h1>Beaver</h1>
  <form
    class="form"
    [formGroup]="loginForm">
    <div class="form-field">
      <label class="label">E-mail</label>
      <input
        class="input"
        formControlName="email"
        type="email" />
    </div>
    <div class="form-field">
      <label class="label">Password</label>
      <input
        class="input"
        formControlName="password"
        type="password" />
    </div>
    <div class="form-buttons">
      <bvr-button
        class="form-button"
        label="Login"
        (click)="login()">
      </bvr-button>
    </div>
  </form>
</div>
