.add-project {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 31 * $grid-base;
  width: 100%;

  .form-header {
    align-self: flex-start;
    color: $color-text-secondary;
    display: flex;
    font-size: $font-small;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 6 * $grid-base;
  }

  .row {
    display: flex;
    flex-direction: row;

    input {
      width: 100%;
    }

    textarea {
      height: 48 * $grid-base;
    }
  }
}
