.approval-tracker {
  display: flex;
  flex-direction: column;

  .form-field {
    height: unset;
  }

  .tracker {
    display: flex;
    flex-direction: row;
  }

  .tracker-list {
    height: 105 * $grid-base;
    overflow-y: scroll;
  }

  .form-buttons {
    justify-content: flex-end;
    display: flex;
    margin-top: 8 * $grid-base;
  }
}
