.approval-tracker {
  display: flex;
  flex-direction: column;

  .form-field {
    height: unset;
  }

  .tracker {
    margin-top: 0;
  }

  .tracker-list {
    height: 105 * $grid-base;
    overflow-y: scroll;
  }
}
