.add-new-employee {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.add-project-employee {
  flex: 1;
  padding: 8 * $grid-base 31 * $grid-base;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.confirm-employee {
  // align-items: flex-start;
  display: flex;
  flex-direction: row;
  // padding: 0 31 * $grid-base 12 * $grid-base;
  width: 100%;

  .employee-details {
    width: 100%;

    .email {
      flex: 2;
    }

    .position {
      flex: 1;
    }
  }

  .personal-info {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    padding-bottom: 8 * $grid-base;
    width: 100%;
  }

  .picture {
    height: 37.5 * $grid-base;
    margin-right: 11 * $grid-base;
    width: 37.5 * $grid-base;
  }
}
