.edit-password {
  margin-bottom: 8 * $grid-base;
  .edit-password-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .accordion-icon {
    margin-top: 4 * $grid-base;
  }

  .edit-password-content {
    align-items: flex-end;
    border: 0.25 * $grid-base $color-white solid;
    border-radius: 0 0 2 * $grid-base 2 * $grid-base;
    display: flex;
    flex-direction: column;
    max-height: 0;
    padding: 3 * $grid-base;
    overflow: hidden;
    transition: 0.5s;
    visibility: hidden;

    &.enabled {
      border: 0.25 * $grid-base $color-divider solid;
      max-height: 50 * $grid-base;
      visibility: visible;
    }

    .row {
      width: 100%;
    }

    .error {
      align-self: flex-start;
    }
  }
}
