<div
  *ngIf="employee"
  class="form">
  <div class="form-header">{{ 'Employment Info' | uppercase }}</div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Position">
      <span>{{ employee.position.name }}</span>
    </bvr-form-field>
    <bvr-form-field
      label="Hire Date"
      [ngClass]="employee.active ? 'field' : 'left-field'">
      <span>{{ employee.employmentDate | date: 'dd/MM/yyyy' }}</span>
    </bvr-form-field>
    <bvr-form-field
      *ngIf="!employee.active"
      class="field"
      label="Exit Date">
      <span>{{ employee.exitDate | date: 'dd/MM/yyyy' }}</span>
    </bvr-form-field>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Contract Type">
      <span>{{ employee.contractType.name }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Working Time">
      <span>{{ employee.workingTime }}</span>
    </bvr-form-field>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Rate">
      <span>{{ employee.wage }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Payday">
      <span>{{ employee.payday }}</span>
    </bvr-form-field>
  </div>
  <bvr-form-field label="Account number">
    <span>{{ employee.accountNumber }}</span>
  </bvr-form-field>
</div>
