<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">settings</span>
      <h2>Global Settings</h2>
    </div>
    <bvr-tabs
      [hasRouting]="false"
      [navbarOptions]="navbarOptions"
      [selectedIndex]="tabIndex"
      (selectedIndexChange)="updateTabIndex($event)"></bvr-tabs>
  </div>
  <div
    *ngIf="globalSettings"
    class="card-content view-form">
    <div class="header">
      <div class="title">
        <img
          class="picture"
          [src]="globalSettings.image" />
        <h4>{{ getCurrentTabName() }}</h4>
      </div>
    </div>

    <div
      [@tabs]="tabIndex"
      (@tabs.start)="toggleFormButtons(false)"
      (@tabs.done)="toggleFormButtons(true)"
      class="view-form-content">
      <bvr-edit-general-settings
        *ngIf="tabIndex === 0"
        [editGlobalSettingsForm]="
          editGlobalSettingsForm
        "></bvr-edit-general-settings>
      <bvr-edit-company-settings
        *ngIf="tabIndex === 1"
        [editGlobalSettingsForm]="
          editGlobalSettingsForm
        "></bvr-edit-company-settings>
      <bvr-edit-contact-settings
        *ngIf="tabIndex === 2"
        [editGlobalSettingsForm]="
          editGlobalSettingsForm
        "></bvr-edit-contact-settings>
    </div>

    <div
      *ngIf="enableFormButtons"
      class="form-buttons">
      <bvr-button
        class="form-button"
        (click)="openCancelModal(false)"
        label="Cancel"
        styleClass="button-text"></bvr-button>
      <bvr-button
        class="form-button"
        (click)="openSaveModal()"
        label="Save"></bvr-button>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="save($event)"
  confirmLabel="Save"
  [description]="modalDescription"
  [title]="'Save changes'"
  [(visible)]="isSaveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
