<div class="header">
  <div class="title">
    <h4>Employees</h4>
    <h4 class="count">({{ dataSource.length }})</h4>
    <div class="radio">
      <input
        name="showActive"
        [(ngModel)]="showActive"
        (ngModelChange)="showActiveTable(true)"
        type="radio"
        [value]="true" />
      <label>Active</label>
    </div>
    <div class="radio">
      <input
        name="showActive"
        [(ngModel)]="showActive"
        (ngModelChange)="showActiveTable(false)"
        type="radio"
        [value]="false" />
      <label>Archived</label>
    </div>
  </div>
  <bvr-button
    class="add-new-button"
    label="Add"
    [routerLink]="['add']"></bvr-button>
</div>

<div class="search-bar">
  <input
    class="search-input"
    [(ngModel)]="query"
    placeholder="Search"
    type="search" />
  <span class="material-icons-outlined search-icon">search</span>
</div>

<div
  *ngIf="showActive"
  class="table">
  <table
    cdk-table
    [dataSource]="dataSource">
    <ng-container cdkColumnDef="person">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Person
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        <div class="table-cell">
          <img
            *ngIf="element.employee.image"
            class="picture"
            [src]="element.employee.image" />
          <span
            *ngIf="!element.employee.image"
            class="picture">
            {{ element.employee.firstName[0]
            }}{{ element.employee.lastName[0] }}
          </span>
          <span
            >{{ element.employee.firstName }}
            {{ element.employee.lastName }}</span
          >
        </div>
      </td>
    </ng-container>
    <ng-container cdkColumnDef="position">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Position
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.employee.position }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="employmentStatus">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Working Time
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.workingTime }} h
      </td>
    </ng-container>
    <ng-container cdkColumnDef="joinDate">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Join Date
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.joinDate | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        class="actions">
        Actions
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        <bvr-button
          (click)="editEmployee($event, element)"
          icon="edit"
          styleClass="button-icon"></bvr-button>
        <bvr-button
          (click)="openArchiveModal($event, element)"
          icon="archive"
          styleClass="button-icon"></bvr-button>
      </td>
    </ng-container>
    <tr
      cdk-header-row
      *cdkHeaderRowDef="displayedActiveColumns"></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: displayedActiveColumns"
      (click)="showEmployeeDetails(row)"></tr>
  </table>
</div>

<div
  *ngIf="!showActive"
  class="table">
  <table
    cdk-table
    [dataSource]="dataSource">
    <ng-container cdkColumnDef="person">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Person
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        <div class="table-cell">
          <img
            *ngIf="element.employee.image"
            class="picture archived"
            [src]="element.employee.image" />
          <span
            *ngIf="!element.employee.image"
            class="picture">
            {{ element.employee.firstName[0]
            }}{{ element.employee.lastName[0] }}
          </span>
          <span
            >{{ element.employee.firstName }}
            {{ element.employee.lastName }}</span
          >
        </div>
      </td>
    </ng-container>
    <ng-container cdkColumnDef="position">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Position
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.employee.position }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="joinDate">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Join Date
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.joinDate | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="exitDate">
      <th
        cdk-header-cell
        *cdkHeaderCellDef>
        Exit Date
      </th>
      <td
        cdk-cell
        *cdkCellDef="let element">
        {{ element.exitDate | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <tr
      cdk-header-row
      *cdkHeaderRowDef="displayedArchivedColumns"></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: displayedArchivedColumns"
      (click)="showEmployeeDetails(row)"></tr>
  </table>
</div>

<bvr-modal
  (confirm)="archive($event)"
  confirmLabel="archive"
  [description]="modalDescription"
  [title]="'Archive employee'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
