<div class="header">
  <div class="title">
    <h4 class="name">Employees</h4>
    <h5 class="count">({{ dataSource.length }})</h5>
  </div>
  <bvr-button class="add-new-button" label="Add new" [routerLink]="['add']"></bvr-button>
</div>

<div class="search-bar">
  <span class="material-icons-outlined search-icon">search</span>
  <input class="search-input" [(ngModel)]="query" placeholder="Search" type="search" />
</div>

<div class="table">
  <table cdk-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="person">
      <th cdk-header-cell *cdkHeaderCellDef>Person</th>
      <td cdk-cell *cdkCellDef="let element">
        <div class="table-cell">
          <img [src]="element.image" class="picture" />
          <span>{{ element.surname }} {{ element.name }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container cdkColumnDef="position">
      <th cdk-header-cell *cdkHeaderCellDef>Position</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.position }}</td>
    </ng-container>
    <ng-container cdkColumnDef="employmentDate">
      <th cdk-header-cell *cdkHeaderCellDef>Employment date</th>
      <td cdk-cell *cdkCellDef="let element">
        {{ element.employmentDate | date: 'mediumDate' }}
      </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
      <td cdk-cell *cdkCellDef="let element">
        <bvr-button (click)="editEmployee($event, element)" icon="edit" styleClass="button-icon"></bvr-button>
        <bvr-button icon="delete" styleClass="button-icon"></bvr-button>
      </td>
    </ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns" (click)="showEmployeeDetails(row)"></tr>
  </table>
</div>