<div
  *ngIf="editEmployeeForm"
  [formGroup]="editEmployeeForm">
  <div
    class="form"
    formGroupName="addressInfo">
    <div class="form-header">{{ 'Address Info' | uppercase }}</div>
    <div class="row address-info">
      <bvr-form-field
        class="left-field"
        label="Street"
        [required]="isRequired(controls.street)">
        <input
          formControlName="street"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.street"></bvr-error>
      </bvr-form-field>
      <div class="house-info">
        <bvr-form-field
          class="left-field"
          label="House Number"
          [required]="isRequired(controls.houseNumber)">
          <input
            formControlName="houseNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="controls.houseNumber"></bvr-error>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          label="Apartment Number"
          [required]="isRequired(controls.apartmentNumber)">
          <input
            formControlName="apartmentNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="controls.apartmentNumber"></bvr-error>
        </bvr-form-field>
      </div>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="City"
        [required]="isRequired(controls.city)">
        <input
          formControlName="city"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.city"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Postal Code"
        [required]="isRequired(controls.postalCode)">
        <input
          formControlName="postalCode"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.postalCode"></bvr-error>
      </bvr-form-field>
    </div>
    <bvr-form-field
      class="field"
      label="Country"
      [required]="isRequired(controls.country)">
      <bvr-dropdown-list
        formControlName="country"
        name="country"
        [options]="countries"></bvr-dropdown-list>
      <bvr-error
        class="error"
        [control]="controls.country"></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Phone Number"
        [required]="isRequired(controls.phoneNumber)">
        <input
          formControlName="phoneNumber"
          type="tel" />
        <bvr-error
          class="error"
          [control]="controls.phoneNumber"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Private email"
        [required]="isRequired(controls.privateEmail)">
        <input
          formControlName="privateEmail"
          type="email" />
        <bvr-error
          class="error"
          [control]="controls.privateEmail"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
