<div
  *ngIf="editEmployeeForm"
  [formGroup]="editEmployeeForm">
  <div
    class="form"
    formGroupName="addressInfo">
    <div class="form-header">{{ 'Address Info' | uppercase }}</div>
    <div class="row address-info">
      <bvr-form-field
        class="left-field"
        label="Street"
        [required]="isRequired('street')">
        <input
          formControlName="street"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['addressInfo', 'street'])
          "></bvr-error>
      </bvr-form-field>
      <div class="house-info">
        <bvr-form-field
          class="left-field"
          label="House Number"
          [required]="isRequired('houseNumber')">
          <input
            formControlName="houseNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="
              editEmployeeForm.get(['addressInfo', 'houseNumber'])
            "></bvr-error>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          label="Apartment Number"
          [required]="isRequired('apartmentNumber')">
          <input
            formControlName="apartmentNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="
              editEmployeeForm.get(['addressInfo', 'apartmentNumber'])
            "></bvr-error>
        </bvr-form-field>
      </div>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="City"
        [required]="isRequired('city')">
        <input
          formControlName="city"
          type="text" />
        <bvr-error
          class="error"
          [control]="editEmployeeForm.get(['addressInfo', 'city'])"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Postal Code"
        [required]="isRequired('postalCode')">
        <input
          formControlName="postalCode"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['addressInfo', 'postalCode'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <bvr-form-field
      class="field"
      label="Country"
      [required]="isRequired('country')">
      <bvr-dropdown-list
        formControlName="country"
        name="country"
        [options]="countries"></bvr-dropdown-list>
      <bvr-error
        class="error"
        [control]="
          editEmployeeForm.get(['addressInfo', 'country'])
        "></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Phone Number"
        [required]="isRequired('phoneNumber')">
        <input
          formControlName="phoneNumber"
          type="tel" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['addressInfo', 'phoneNumber'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Private email"
        [required]="isRequired('privateEmail')">
        <input
          formControlName="privateEmail"
          type="email" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['addressInfo', 'privateEmail'])
          "></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
