<div *ngIf="createEmployeeForm" class="general-info" [formGroup]="createEmployeeForm">
  <div class="form" formGroupName="generalInfo">
    <div class="row">
      <bvr-form-field class="left-field" label="First name" [required]="isRequired('firstName')">
        <input formControlName="firstName" type="text" />
      </bvr-form-field>
      <bvr-form-field class="field" label="Last name" [required]="isRequired('lastName')">
        <input formControlName="lastName" type="text" />
      </bvr-form-field>
    </div>
    <bvr-form-field label="Email" [required]="isRequired('email')">
      <input formControlName="email" type="email" />
    </bvr-form-field>
    <div class="row">
      <bvr-form-field class="left-field" label="Password" [required]="isRequired('password')">
        <input formControlName="password" type="password" />
      </bvr-form-field>
      <bvr-form-field class="field" label="Repeat Password" [required]="isRequired('repeatPassword')">
        <input formControlName="repeatPassword" type="password" />
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field class="left-field" label="Position" [required]="isRequired('position')">
        <bvr-dropdown-list formControlName="position" name="project" [options]="projects"></bvr-dropdown-list>
      </bvr-form-field>
      <bvr-form-field class="field" label="Employment date" [required]="isRequired('employmentDate')">
        <bvr-date-picker formControlName="employmentDate"></bvr-date-picker>
      </bvr-form-field>
    </div>
  </div>

  <div class="form-buttons">
    <bvr-button label="Cancel" [routerLink]="['..']" styleClass="button-text"></bvr-button>
    <bvr-button (click)="nextStep()" label="Next"></bvr-button>
  </div>
</div>