<div
  *ngIf="editEmployeeForm"
  [formGroup]="editEmployeeForm">
  <div
    class="form"
    formGroupName="personalInfo">
    <div class="form-header">{{ 'Personal Info' | uppercase }}</div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="First Name"
        [required]="isRequired(controls.firstName)">
        <input
          formControlName="firstName"
          placeholder="First Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.firstName"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Last Name"
        [required]="isRequired(controls.lastName)">
        <input
          formControlName="lastName"
          placeholder="Last Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.lastName"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Middle Name"
        [required]="isRequired(controls.middleName)">
        <input
          formControlName="middleName"
          placeholder="Middle Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.middleName"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Sex"
        [required]="isRequired(controls.sex)">
        <bvr-dropdown-list
          formControlName="sex"
          name="sex"
          [options]="sexes"></bvr-dropdown-list>
        <bvr-error
          class="error"
          [control]="controls.sex"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Date Of Birth"
        [required]="isRequired(controls.birthDate)">
        <bvr-date-picker formControlName="birthDate"></bvr-date-picker>
        <bvr-error
          class="error"
          [control]="controls.birthDate"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Place Of Birth"
        [required]="isRequired(controls.birthPlace)">
        <input
          formControlName="birthPlace"
          placeholder="Place Of Birth"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.birthPlace"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="ID Card Number"
        [required]="isRequired(controls.idCardNumber)">
        <input
          formControlName="idCardNumber"
          placeholder="ABC 000000"
          type="text" />
        <bvr-error
          class="error"
          [control]="controls.idCardNumber"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="PESEL"
        placeholder="00000000000"
        [required]="isRequired(controls.pesel)">
        <bvr-input-number
          [decimalPlaces]="0"
          [digits]="11"
          formControlName="pesel"
          placeholder="00000000000"></bvr-input-number>
        <bvr-error
          class="error"
          [control]="controls.pesel"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
