<div
  *ngIf="editEmployeeForm"
  [formGroup]="editEmployeeForm">
  <div
    class="form"
    formGroupName="personalInfo">
    <div class="form-header">{{ 'Personal Info' | uppercase }}</div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="First Name"
        [required]="isRequired('firstName')">
        <input
          formControlName="firstName"
          placeholder="First Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'firstName'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Last Name"
        [required]="isRequired('lastName')">
        <input
          formControlName="lastName"
          placeholder="Last Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'lastName'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Middle Name"
        [required]="isRequired('middleName')">
        <input
          formControlName="middleName"
          placeholder="Middle Name"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'middleName'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Sex"
        [required]="isRequired('sex')">
        <bvr-dropdown-list
          formControlName="sex"
          name="sex"
          [options]="sexes"></bvr-dropdown-list>
        <bvr-error
          class="error"
          [control]="editEmployeeForm.get(['personalInfo', 'sex'])"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Date Of Birth"
        [required]="isRequired('birthDate')">
        <bvr-date-picker formControlName="birthDate"></bvr-date-picker>
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'birthDate'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Place Of Birth"
        [required]="isRequired('birthPlace')">
        <input
          formControlName="birthPlace"
          placeholder="Place Of Birth"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'birthPlace'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="ID Card Number"
        [required]="isRequired('idCardNumber')">
        <input
          formControlName="idCardNumber"
          placeholder="ABC 000000"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'idCardNumber'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="PESEL"
        placeholder="00000000000"
        [required]="isRequired('pesel')">
        <input
          formControlName="pesel"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editEmployeeForm.get(['personalInfo', 'pesel'])
          "></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
