<div class="header">
  <div class="title">
    <h4>Add New Employee</h4>
  </div>
</div>
<div
  *ngIf="addProjectEmployeeForm"
  class="view-form"
  [formGroup]="addProjectEmployeeForm">
  <div class="form">
    <bvr-form-field
      label="Employee"
      [required]="isRequired('id')">
      <bvr-dropdown-search-employee
        *ngIf="employees.length"
        formControlName="id"
        name="id"
        [options]="employees"></bvr-dropdown-search-employee>
    </bvr-form-field>

    <div *ngIf="employee">
      <div class="confirm-employee">
        <img
          *ngIf="employee.image"
          class="picture"
          [src]="employee.image" />
        <span
          *ngIf="!employee.image"
          class="picture">
          {{ employee.firstName[0] }}{{ employee.lastName[0] }}
        </span>
        <div class="employee-details">
          <div class="row">
            <bvr-form-field
              class="disabled left-field"
              label="Name">
              <span>{{ employee.firstName }}</span>
            </bvr-form-field>
            <bvr-form-field
              class="disabled left-field"
              label="Surname">
              <span>{{ employee.lastName }}</span>
            </bvr-form-field>
            <bvr-form-field
              class="disabled field"
              label="Hire Date">
              <span>{{ employee.employmentDate | date: 'dd/MM/yyyy' }}</span>
            </bvr-form-field>
          </div>
          <div class="row">
            <bvr-form-field
              class="disabled left-field position"
              label="Position">
              <span>{{ employee.position.name }}</span>
            </bvr-form-field>
            <bvr-form-field
              class="disabled left-field email"
              label="Email">
              <span>{{ employee.email }}</span>
            </bvr-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <bvr-form-field
          class="left-field"
          label="Working Time"
          [required]="isRequired('workingTime')">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            formControlName="workingTime"
            placeholder="Working Time"
            suffix="h"></bvr-input-number>
          <bvr-error
            class="error"
            [control]="addProjectEmployeeForm.get(['workingTime'])"></bvr-error>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          label="Salary Modifier"
          [ngClass]="{ disabled: isDisabled('salaryModifier') }"
          [required]="isRequired('salaryModifier')">
          <div class="row">
            <bvr-input-number
              [decimalPlaces]="0"
              [digits]="3"
              [isDisabled]="isDisabled('salaryModifier')"
              formControlName="salaryModifier"
              placeholder="Modifier"
              suffix="%"></bvr-input-number>
            <bvr-switch
              (valueChange)="
                enableField('salaryModifier', $event)
              "></bvr-switch>
          </div>
          <bvr-error
            class="error"
            [control]="
              addProjectEmployeeForm.get(['salaryModifier'])
            "></bvr-error>
        </bvr-form-field>
      </div>
    </div>
  </div>
</div>
<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new employee'"
  [(visible)]="isAddModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
