<div
  *ngIf="addProjectForm"
  class="view-form"
  [formGroup]="addProjectForm">
  <div
    class="form"
    formGroupName="generalInfo">
    <div class="form-header">{{ 'General' | uppercase }}</div>
    <bvr-form-field
      label="Project Name"
      [required]="isRequired(controls.name)">
      <input
        formControlName="name"
        placeholder="Project Name"
        type="text" />
      <bvr-error
        class="error"
        [control]="controls.name"></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Logo"
        [required]="isRequired(controls.image)">
        <bvr-file-upload formControlName="image"></bvr-file-upload>
        <bvr-error
          class="error"
          [control]="controls.image"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Description"
        [required]="isRequired(controls.description)">
        <textarea formControlName="description"></textarea>
        <bvr-error
          class="error"
          [control]="controls.description"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>

<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="nextStep()"
    label="Next"></bvr-button>
</div>

<bvr-toast></bvr-toast>
