<div
  *ngIf="addProjectForm"
  class="view-form"
  [formGroup]="addProjectForm">
  <div
    class="form"
    formGroupName="billingInfo">
    <bvr-form-field
      label="Billing Period"
      [required]="isRequired('billingPeriod')">
      <bvr-dropdown-list
        formControlName="billingPeriod"
        name="Billing Period"
        [options]="billingPeriods"></bvr-dropdown-list>
      <bvr-error
        class="error"
        [control]="
          addProjectForm.get(['billingInfo', 'billingPeriod'])
        "></bvr-error>
    </bvr-form-field>
    <div class="form-header">{{ 'Salary Modifiers' | uppercase }}</div>
    <div class="modifiers">
      <bvr-form-field
        class="left-field"
        label="Overtime"
        [ngClass]="{ disabled: isDisabled('overtimeModifier') }"
        [required]="isRequired('overtimeModifier')">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            formControlName="overtimeModifier"
            placeholder="Overtime"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="
              enableField('overtimeModifier', $event)
            "></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="
            addProjectForm.get(['billingInfo', 'overtimeModifier'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="left-field"
        label="Bonus Modifier"
        [ngClass]="{ disabled: isDisabled('bonusModifier') }"
        [required]="isRequired('bonusModifier')">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            formControlName="bonusModifier"
            placeholder="Bonus"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="enableField('bonusModifier', $event)"></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="
            addProjectForm.get(['billingInfo', 'bonusModifier'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Night Modifier"
        [ngClass]="{ disabled: isDisabled('nightModifier') }"
        [required]="isRequired('nightModifier')">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            formControlName="nightModifier"
            placeholder="Night"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="enableField('nightModifier', $event)"></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="
            addProjectForm.get(['billingInfo', 'nightModifier'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Holiday Modifier"
        [ngClass]="{ disabled: isDisabled('holidayModifier') }"
        [required]="isRequired('holidayModifier')">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            formControlName="holidayModifier"
            placeholder="Holiday"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="enableField('holidayModifier', $event)"></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="
            addProjectForm.get(['billingInfo', 'holidayModifier'])
          "></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>

<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStepChange.emit()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new project'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
