<div
  *ngIf="addProjectForm"
  class="view-form"
  [formGroup]="addProjectForm">
  <div
    class="form"
    formGroupName="billingInfo">
    <bvr-form-field
      label="Billing Period"
      [required]="isRequired(controls.billingPeriod)">
      <bvr-dropdown-list
        formControlName="billingPeriod"
        name="Billing Period"
        [options]="billingPeriods"></bvr-dropdown-list>
      <bvr-error
        class="error"
        [control]="controls.billingPeriod"></bvr-error>
    </bvr-form-field>
    <div class="form-header">{{ 'Salary Modifiers' | uppercase }}</div>
    <div class="modifiers">
      <bvr-form-field
        class="left-field"
        label="Overtime"
        [ngClass]="{ disabled: controls.overtimeModifier.disabled }"
        [required]="isRequired(controls.overtimeModifier)">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            [isDisabled]="controls.overtimeModifier.disabled"
            formControlName="overtimeModifier"
            placeholder="Overtime"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="
              enableField(controls.overtimeModifier, $event)
            "></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="controls.overtimeModifier"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="left-field"
        label="Bonus Modifier"
        [ngClass]="{ disabled: controls.bonusModifier.disabled }"
        [required]="isRequired(controls.bonusModifier)">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            [isDisabled]="controls.bonusModifier.disabled"
            formControlName="bonusModifier"
            placeholder="Bonus"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="
              enableField(controls.bonusModifier, $event)
            "></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="controls.bonusModifier"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Night Modifier"
        [ngClass]="{ disabled: controls.nightModifier.disabled }"
        [required]="isRequired(controls.nightModifier)">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            [isDisabled]="controls.nightModifier.disabled"
            formControlName="nightModifier"
            placeholder="Night"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="
              enableField(controls.nightModifier, $event)
            "></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="controls.nightModifier"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Holiday Modifier"
        [ngClass]="{ disabled: controls.holidayModifier.disabled }"
        [required]="isRequired(controls.holidayModifier)">
        <div class="row">
          <bvr-input-number
            [decimalPlaces]="0"
            [digits]="3"
            [isDisabled]="controls.holidayModifier.disabled"
            formControlName="holidayModifier"
            placeholder="Holiday"
            suffix="%"></bvr-input-number>
          <bvr-switch
            (valueChange)="
              enableField(controls.holidayModifier, $event)
            "></bvr-switch>
        </div>
        <bvr-error
          class="error"
          [control]="controls.holidayModifier"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>

<div
  *ngIf="enableFormButtons"
  class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal.emit(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStepChange.emit()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new project'"
  [(visible)]="isAddModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
