<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">schedule</span>
      <h2 class="name">Tracker</h2>
    </div>
    <bvr-button
      class="create-new-button"
      label="Request approval"
      [routerLink]="['request-approval']"></bvr-button>
  </div>
  <div class="tracker card-body">
    <bvr-calendar></bvr-calendar>
    <div class="tracker-right-side">
      <bvr-tabs class="tracker-tabs" [navbarOptions]="navbarOptions"></bvr-tabs>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
