<div class="wrapper">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">schedule</span>
      <h3 class="name">Tracker</h3>
    </div>
    <bvr-button class="add-new-button" label="Request approval"></bvr-button>
  </div>
  <div class="wrapper-body">
    <bvr-calendar></bvr-calendar>
    <div class="tracker-right-side">
      <div class="tracker-toggle">
        <div
          class="toggle"
          [class.selected]="taskListVisible"
          (click)="showTaskList(true)">
          <h5>Logged Tasks</h5>
          <span class="material-icons-outlined">
            {{ taskListVisible ? 'expand_more' : 'expand_less' }}
          </span>
        </div>
        <div
          class="toggle"
          [class.selected]="!taskListVisible"
          (click)="showTaskList(false)">
          <h5>Add New Task</h5>
          <span class="material-icons-outlined">
            {{ taskListVisible ? 'expand_less' : 'expand_more' }}
          </span>
        </div>
      </div>
      <div>
        <bvr-tasks-list *ngIf="taskListVisible"></bvr-tasks-list>
        <bvr-add-task *ngIf="!taskListVisible"></bvr-add-task>
      </div>
    </div>
  </div>
</div>
