<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">work_outline</span>
      <h2 class="name">Positions</h2>
      <h4 class="count">({{ dataSource.length }})</h4>
    </div>
  </div>

  <div class="card-content">
    <div class="header">
      <div class="title">
        <h4>Positions</h4>
        <h4 class="count">({{ dataSource.length }})</h4>
        <div class="radio">
          <input name="showActive" [(ngModel)]="showActive" type="radio" [value]="true">
          <label>Active</label>
        </div>
        <div class="radio">
          <input name="showActive" [(ngModel)]="showActive" type="radio" [value]="false">
          <label>Archive</label>
        </div>
      </div>
      <bvr-button class="create-new-button" label="Create new" [routerLink]="['create']"></bvr-button>
    </div>

    <div class="search-bar">
      <input class="search-input" [(ngModel)]="query" placeholder="Search" type="search" />
      <span class="material-icons-outlined search-icon">search</span>
    </div>

    <div class="table">
      <table cdk-table [dataSource]="dataSource">
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef>Name</th>
          <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container cdkColumnDef="description">
          <th cdk-header-cell *cdkHeaderCellDef>Description</th>
          <td cdk-cell *cdkCellDef="let element">{{ element.description }}</td>
        </ng-container>
        <ng-container cdkColumnDef="count">
          <th cdk-header-cell *cdkHeaderCellDef>count</th>
          <td cdk-cell *cdkCellDef="let element">{{ element.count }}</td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
          <td cdk-cell *cdkCellDef="let element">
            <bvr-button icon="edit" styleClass="button-icon" [routerLink]="[element.id,'edit']"></bvr-button>
            <bvr-button icon="archive" styleClass="button-icon"></bvr-button>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>