<div class="project-employee">
  <div class="header">
    <div class="name">
      <img [src]="projectEmployee.employee.image" class="picture" [ngClass]="{ archived: !projectEmployee.active }" />
      <h4>
        {{ projectEmployee.employee.firstName }}
        {{ projectEmployee.employee.lastName }}
      </h4>
      <h4 *ngIf="!projectEmployee.active" class="archived">(Archived)</h4>
    </div>
    <div>
      <bvr-button *ngIf="projectEmployee.active" icon="edit" [routerLink]="['edit']"
        styleClass="button-icon"></bvr-button>
      <bvr-button *ngIf="projectEmployee.active" (click)="openArchiveModal()" icon="archive" styleClass="button-icon">
      </bvr-button>
    </div>
  </div>
  <div class="form">
    <bvr-form-field class="disabled field" label="Email">
      <span>{{ projectEmployee.employee.email }}</span>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field class="disabled left-field" label="Position">
        <span>{{ projectEmployee.employee.position }}</span>
      </bvr-form-field>
      <bvr-form-field class="disabled left-field" label="Hire Date">
        <span>{{ projectEmployee.employee.employmentDate| date: 'dd/MM/yyyy' }}</span>
      </bvr-form-field>
      <bvr-form-field class="disabled" [ngClass]="projectEmployee.active ? 'field' : 'left-field'" label="Join Date">
        <span>{{ projectEmployee.joinDate | date: 'dd/MM/yyyy' }}</span>
      </bvr-form-field>
      <bvr-form-field *ngIf="!projectEmployee.active" class="disabled field" label="Exit Date">
        <span>{{ projectEmployee.exitDate | date: 'dd/MM/yyyy' }}</span>
      </bvr-form-field>
    </div>

    <div *ngIf="projectEmployee.active" class="row">
      <bvr-form-field class="left-field" label="Contract Type">
        <span>{{ projectEmployee.contractType.name }}</span>
      </bvr-form-field>
      <bvr-form-field class="left-field" label="Working Time">
        <span>{{ projectEmployee.workingTime }}</span>
      </bvr-form-field>
      <bvr-form-field class="field" label="Wage">
        <span>{{ projectEmployee.wage }}</span>
      </bvr-form-field>
    </div>

    <div *ngIf="!projectEmployee.active" class="row archived">
      <bvr-form-field class="left-field" label="Contract Type">
        <span>{{ projectEmployee.contractType.name }}</span>
      </bvr-form-field>
      <div class="financial-info">
        <bvr-form-field class="left-field" label="Working Time">
          <span>{{ projectEmployee.workingTime }}</span>
        </bvr-form-field>
        <bvr-form-field class="field" label="Wage">
          <span>{{ projectEmployee.wage }}</span>
        </bvr-form-field>
      </div>
    </div>
  </div>
  <div class="form-buttons">
    <bvr-button class="form-button" label="Cancel" [routerLink]="['..']" styleClass="button-text"></bvr-button>
  </div>
</div>

<bvr-modal (confirm)="archive()" confirmLabel="archive" [description]="modalDescription" [title]="'Archive employee'"
  [(visible)]="isArchiveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>