<form
  class="form"
  [formGroup]="addTaskForm">
  <bvr-form-field
    label="Project"
    [required]="isRequired('project')">
    <bvr-dropdown-list
      formControlName="project"
      name="project"
      [options]="projects"></bvr-dropdown-list>
    <bvr-error
      class="error"
      [control]="addTaskForm.get(['project'])"></bvr-error>
  </bvr-form-field>
  <bvr-form-field
    label="Task"
    [required]="isRequired('task')">
    <bvr-dropdown-list
      formControlName="task"
      name="task"
      [options]="tasks"></bvr-dropdown-list>
    <bvr-error
      class="error"
      [control]="addTaskForm.get(['task'])"></bvr-error>
  </bvr-form-field>

  <div class="dates">
    <div class="date">
      <bvr-form-field
        label="Start Date"
        [required]="isRequired('startDate')">
        <bvr-date-picker formControlName="startDate"></bvr-date-picker>
        <bvr-error
          class="error"
          [control]="addTaskForm.get(['startDate'])"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        label="Start Time"
        [required]="isRequired('startTime')">
        <bvr-time-picker formControlName="startTime"></bvr-time-picker>
        <bvr-error
          class="error"
          [control]="addTaskForm.get(['startTime'])"></bvr-error>
      </bvr-form-field>
    </div>
    <div class="date">
      <bvr-form-field
        label="End Date"
        [required]="isRequired('endDate')">
        <bvr-date-picker formControlName="endDate"></bvr-date-picker>
        <bvr-error
          class="error"
          [control]="addTaskForm.get(['endDate'])"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        label="End Time"
        [required]="isRequired('endTime')">
        <bvr-time-picker formControlName="endTime"></bvr-time-picker>
        <bvr-error
          class="error"
          [control]="addTaskForm.get(['endTime'])"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
  <bvr-error
    class="error"
    [control]="addTaskForm"></bvr-error>
</form>

<div class="form-buttons">
  <div>
    <bvr-button
      *ngIf="hasTaskToSave"
      (click)="openDeleteModal()"
      icon="delete"
      styleClass="button-icon"></bvr-button>
  </div>
  <div>
    <bvr-button
      *ngIf="!hasTaskToSave"
      class="form-button"
      (click)="openResetModal()"
      label="Reset"
      styleClass="button-text"></bvr-button>
    <bvr-button
      *ngIf="hasTaskToSave"
      class="form-button"
      (click)="openCancelModal(false)"
      label="Cancel"
      styleClass="button-text"></bvr-button>
    <bvr-button
      *ngIf="!hasTaskToSave"
      class="form-button"
      (click)="openAddModal()"
      label="Add"></bvr-button>
    <bvr-button
      *ngIf="hasTaskToSave"
      class="form-button"
      (click)="openSaveModal()"
      label="Save"></bvr-button>
  </div>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new task'"
  [(visible)]="isAddModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="delete()"
  confirmLabel="Delete"
  [description]="modalDescription"
  [title]="'Delete task'"
  [(visible)]="isDeleteModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="reset()"
  confirmLabel="Reset"
  [description]="modalDescription"
  [title]="'Reset'"
  [(visible)]="isResetModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="save($event)"
  confirmLabel="Save"
  [description]="modalDescription"
  [title]="'Save changes'"
  [(visible)]="isSaveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
