<form class="form" [formGroup]="addTaskForm">
  <bvr-form-field label="Project" [required]="isRequired('project')">
    <bvr-dropdown-list
      formControlName="project"
      name="project"
      [options]="projects"></bvr-dropdown-list>
    <ng-container *ngIf="showErrors('project')">
      <small *ngIf="addTaskForm.get('project')?.hasError('required')"
        >This field is required.</small
      >
    </ng-container>
  </bvr-form-field>
  <bvr-form-field label="Task" [required]="isRequired('task')">
    <bvr-dropdown-list
      formControlName="task"
      name="task"
      [options]="tasks"></bvr-dropdown-list>
    <ng-container *ngIf="showErrors('task')">
      <small *ngIf="addTaskForm.get('task')?.hasError('required')"
        >This field is required.</small
      >
    </ng-container>
  </bvr-form-field>

  <div class="dates">
    <div class="date">
      <bvr-form-field label="Start date" [required]="isRequired('startDate')">
        <bvr-date-picker formControlName="startDate"></bvr-date-picker>
        <ng-container *ngIf="showErrors('startDate')">
          <small *ngIf="addTaskForm.get('startDate')?.hasError('required')"
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field label="Start time" [required]="isRequired('startTime')">
        <bvr-time-picker formControlName="startTime"></bvr-time-picker>
        <ng-container *ngIf="showErrors('startTime')">
          <small *ngIf="addTaskForm.get('startTime')?.hasError('required')"
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="date">
      <bvr-form-field label="End date" [required]="isRequired('endDate')">
        <bvr-date-picker formControlName="endDate"></bvr-date-picker>
        <ng-container *ngIf="showErrors() || showErrors('endDate')">
          <small *ngIf="addTaskForm.get('endDate')?.hasError('required')"
            >This field is required.</small
          >
          <small *ngIf="addTaskForm?.hasError('dateRange')"
            >The date is wrong.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field label="End time" [required]="isRequired('endTime')">
        <bvr-time-picker formControlName="endTime"></bvr-time-picker>
        <ng-container *ngIf="showErrors() || showErrors('endTime')">
          <small *ngIf="addTaskForm.get('endTime')?.hasError('required')"
            >This field is required.</small
          >
          <small *ngIf="addTaskForm?.hasError('timeRange')"
            >The date is wrong.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</form>
<div class="add-task-form-buttons">
  <div>
    <bvr-button
      *ngIf="hasTaskToSave"
      (click)="openDeleteModal()"
      icon="delete"
      styleClass="button-icon"></bvr-button>
  </div>
  <div>
    <bvr-button
      class="form-button"
      (click)="openResetModal()"
      label="Reset"
      styleClass="button-text"></bvr-button>
    <bvr-button
      *ngIf="!hasTaskToSave"
      class="form-button"
      (click)="openAddModal()"
      label="Add"></bvr-button>
    <bvr-button
      *ngIf="hasTaskToSave"
      class="form-button"
      (click)="openSaveModal()"
      label="Save"></bvr-button>
  </div>
</div>

<bvr-modal
  (confirm)="add()"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add New Task'"
  [(visible)]="isAddModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="delete()"
  confirmLabel="Delete"
  [description]="modalDescription"
  [title]="'Delete Task'"
  [(visible)]="isDeleteModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="reset()"
  confirmLabel="Reset"
  [description]="modalDescription"
  [title]="'Reset'"
  [(visible)]="isResetModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="save()"
  confirmLabel="Save"
  [description]="modalDescription"
  [title]="'Save Task'"
  [(visible)]="isSaveModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
