<div
  *ngIf="editProjectForm"
  class="add-project"
  [formGroup]="editProjectForm">
  <div
    class="form"
    formGroupName="billingInfo">
    <bvr-form-field
      label="Billing Period"
      [required]="isRequired('billingPeriod')">
      <bvr-dropdown-list
        formControlName="billingPeriod"
        name="Billing Period"
        [options]="billingPeriods"></bvr-dropdown-list>
      <ng-container *ngIf="showErrors('billingPeriod')">
        <small
          *ngIf="
            editProjectForm
              .get(['billingInfo', 'billingPeriod'])
              ?.hasError('required')
          "
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
    <div class="form-header">{{ 'Salary Modifiers' | uppercase }}</div>
    <div class="modifiers">
      <bvr-form-field
        class="left-field"
        label="Overtime"
        [ngClass]="{ disabled: isDisabled('overtimeModifier') }"
        [required]="isRequired('overtimeModifier')">
        <div class="row">
          <input
            formControlName="overtimeModifier"
            placeholder="0"
            type="number" />
          <bvr-switch
            (valueChange)="
              enableField('overtimeModifier', $event)
            "></bvr-switch>
        </div>
        <ng-container *ngIf="showErrors('overtimeModifier')">
          <small
            *ngIf="
              editProjectForm
                .get(['billingInfo', 'overtimeModifier'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="left-field"
        label="Bonus Modifier"
        [ngClass]="{ disabled: isDisabled('bonusModifier') }"
        [required]="isRequired('bonusModifier')">
        <div class="row">
          <input
            formControlName="bonusModifier"
            placeholder="0"
            type="number" />
          <bvr-switch
            (valueChange)="enableField('bonusModifier', $event)"></bvr-switch>
        </div>
        <ng-container *ngIf="showErrors('bonusModifier')">
          <small
            *ngIf="
              editProjectForm
                .get(['billingInfo', 'bonusModifier'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Night Modifier"
        [ngClass]="{ disabled: isDisabled('nightModifier') }"
        [required]="isRequired('nightModifier')">
        <div class="row">
          <input
            formControlName="nightModifier"
            placeholder="0"
            type="number" />
          <bvr-switch
            (valueChange)="enableField('nightModifier', $event)"></bvr-switch>
        </div>
        <ng-container *ngIf="showErrors('nightModifier')">
          <small
            *ngIf="
              editProjectForm
                .get(['billingInfo', 'nightModifier'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Holiday Modifier"
        [ngClass]="{ disabled: isDisabled('holidayModifier') }"
        [required]="isRequired('holidayModifier')">
        <div class="row">
          <input
            formControlName="holidayModifier"
            placeholder="0"
            type="number" />
          <bvr-switch
            (valueChange)="enableField('holidayModifier', $event)"></bvr-switch>
        </div>
        <ng-container *ngIf="showErrors('holidayModifier')">
          <small
            *ngIf="
              editProjectForm
                .get(['billingInfo', 'holidayModifier'])
                ?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
  </div>
</div>
