<div class="confirm-employee form">
  <div class="personal-info">
    <img [src]="employee.image" class="picture" />
    <bvr-form-field class="disabled left-field" label="Name">
      <input disabled [(ngModel)]="employee.firstName" type="text" />
    </bvr-form-field>
    <bvr-form-field class="disabled field" label="Surname">
      <input disabled [(ngModel)]="employee.lastName" type="text" />
    </bvr-form-field>
  </div>
  <bvr-form-field class="disabled field" label="Email">
    <input disabled [(ngModel)]="employee.email" type="text" />
  </bvr-form-field>
  <div class="row">
    <bvr-form-field class="disabled left-field" label="Position">
      <input disabled [(ngModel)]="employee.position" type="text" />
    </bvr-form-field>
    <bvr-form-field class="disabled field" label="Employment Date">
      <input disabled [(ngModel)]="employee.employmentDate" type="text" />
    </bvr-form-field>
  </div>
</div>

<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal()"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="previousStep()"
    label="Previous"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="nextStep()"
    label="Next"></bvr-button>
</div>

<bvr-modal
  (confirm)="cancel()"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>
