<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">dashboard</span>
      <h2>Dashboard</h2>
    </div>
  </div>
  <div class="card-content">
    <div class="dashboard-row">
      <bvr-user-projects class="chart view-form"></bvr-user-projects>
      <bvr-last-tasks class="table"> </bvr-last-tasks>
    </div>
    <div class="dashboard-row">
      <div class="chart"></div>
      <bvr-requests-status class="table"></bvr-requests-status>
    </div>
  </div>
</div>
