<div class="card">
  <div class="header">
    <div class="title">
      <span class="material-icons-outlined">dashboard</span>
      <h2>Dashboard</h2>
    </div>
  </div>
  <div class="card-content">
    <div class="dashboard-row">
      <bvr-user-projects
        class="chart main view-form"
        [isCompact]="permissions.canAdminPositions"></bvr-user-projects>
      <bvr-top-positions
        *ngIf="permissions.canAdminPositions"
        class="chart"></bvr-top-positions>
      <bvr-last-tasks
        *ngIf="!permissions.canAdminEmployees"
        class="table">
      </bvr-last-tasks>
      <bvr-new-employees
        *ngIf="permissions.canAdminEmployees"
        class="table">
      </bvr-new-employees>
    </div>
    <div class="dashboard-row">
      <bvr-hours-in-projects class="chart"></bvr-hours-in-projects>
      <bvr-requests-status class="table"></bvr-requests-status>
    </div>
  </div>
</div>
