<p>project-tasks works!</p>
<div class="table-wrapper">
  <bvr-button class="add-new-button" icon="add_box" label="Add new" [routerLink]="['create']"></bvr-button>

  <div class="search-bar">
    <span class="material-icons-outlined search-icon">search</span>
    <input class="search-input" [(ngModel)]="query" placeholder="Search" type="search" />
  </div>

  <div class="table">
    <table cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="task_name">
        <th cdk-header-cell *cdkHeaderCellDef>Name</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
        <td cdk-cell *cdkCellDef="let element">
          <bvr-button icon="edit" styleClass="button-icon" [routerLink]="['edit']"></bvr-button>
          <bvr-button icon="delete" styleClass="button-icon"></bvr-button>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>