<div
  *ngIf="editGlobalSettingsForm"
  [formGroup]="editGlobalSettingsForm">
  <div
    class="form"
    formGroupName="contactInfo">
    <div class="form-header">{{ 'Address Info' | uppercase }}</div>
    <div class="row address-info">
      <bvr-form-field
        class="left-field"
        label="Street"
        [required]="isRequired('street')">
        <input
          formControlName="street"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['contactInfo', 'street'])
          "></bvr-error>
      </bvr-form-field>
      <div class="house-info">
        <bvr-form-field
          class="left-field"
          label="House Number"
          [required]="isRequired('houseNumber')">
          <input
            formControlName="houseNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="
              editGlobalSettingsForm.get(['contactInfo', 'houseNumber'])
            "></bvr-error>
        </bvr-form-field>
        <bvr-form-field
          class="field"
          label="Apartment Number"
          [required]="isRequired('apartmentNumber')">
          <input
            formControlName="apartmentNumber"
            type="text" />
          <bvr-error
            class="error"
            [control]="
              editGlobalSettingsForm.get(['contactInfo', 'apartmentNumber'])
            "></bvr-error>
        </bvr-form-field>
      </div>
    </div>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="City"
        [required]="isRequired('city')">
        <input
          formControlName="city"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['contactInfo', 'city'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Postal Code"
        [required]="isRequired('postalCode')">
        <input
          formControlName="postalCode"
          type="text" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['contactInfo', 'postalCode'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <bvr-form-field
      class="field"
      label="Country"
      [required]="isRequired('country')">
      <bvr-dropdown-list
        formControlName="country"
        name="country"
        [options]="countries"></bvr-dropdown-list>
      <bvr-error
        class="error"
        [control]="
          editGlobalSettingsForm.get(['contactInfo', 'country'])
        "></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Phone Number"
        [required]="isRequired('phoneNumber')">
        <input
          formControlName="phoneNumber"
          type="tel" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['contactInfo', 'phoneNumber'])
          "></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Email"
        [required]="isRequired('email')">
        <input
          formControlName="email"
          type="email" />
        <bvr-error
          class="error"
          [control]="
            editGlobalSettingsForm.get(['contactInfo', 'email'])
          "></bvr-error>
      </bvr-form-field>
    </div>
    <bvr-form-field
      label="Website"
      [required]="isRequired('website')">
      <input
        formControlName="website"
        type="text" />
      <bvr-error
        class="error"
        [control]="
          editGlobalSettingsForm.get(['contactInfo', 'website'])
        "></bvr-error>
    </bvr-form-field>
  </div>
</div>
