<div
  *ngIf="employee"
  class="form">
  <div class="form-header">{{ 'Address Info' | uppercase }}</div>
  <div class="row address-info">
    <bvr-form-field
      class="left-field"
      label="Street">
      <span>{{ employee.street }}</span>
    </bvr-form-field>
    <div class="house-info">
      <bvr-form-field
        class="left-field"
        label="House Number">
        <span>{{ employee.houseNumber }}</span>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Apartment Number">
        <span>{{ employee.apartmentNumber }}</span>
      </bvr-form-field>
    </div>
  </div>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="City">
      <span>{{ employee.city }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Postal Code">
      <span>{{ employee.postalCode }}</span>
    </bvr-form-field>
  </div>
  <bvr-form-field
    class="field"
    label="Country">
    <span>{{ employee.country.name }}</span>
  </bvr-form-field>
  <div class="row">
    <bvr-form-field
      class="left-field"
      label="Phone number">
      <span>{{ employee.phoneNumber }}</span>
    </bvr-form-field>
    <bvr-form-field
      class="field"
      label="Private email">
      <span>{{ employee.privateEmail }}</span>
    </bvr-form-field>
  </div>
</div>
