<div class="calendar">
  <div class="calendar-header">
    <bvr-button icon="chevron_left" (click)="previousMonth()" styleClass="button-icon"></bvr-button>
    <h4>{{ currentMonth | month }} {{ currentYear }}</h4>
    <bvr-button icon="chevron_right" (click)="nextMonth()" styleClass="button-icon"></bvr-button>
  </div>
  <div class="calendar-body">
    <div class="week-days">
      <div *ngFor="let dayOfWeek of days" class="day">
        {{ dayOfWeek | slice: 0:3 }}
      </div>
    </div>
    <div *ngFor="let week of monthGrid; let j = index" class="week">
      <div *ngFor="let day of week; let i = index" class="day" [class.disabled]="day.disabled"
        [class.selected]="isCurrentDay(day)" (click)="selectDay(day)">
        <h4 [class.saturday]="i === 5" [class.sunday]="i === 6">
          {{ day.date | date: 'd' }}
        </h4>
        <div class="status" [class]="day.status"></div>
      </div>
    </div>
  </div>
</div>