<div class="calendar">
    <div class="calendar-header">
        <bvr-button label="Previous" (onClick)="previousMonth()"></bvr-button>
        <div>{{currentMonth | month}} {{currentYear}}</div>
        <bvr-button label="Next" (onClick)="nextMonth()"></bvr-button>
    </div>
    <div class="week-days">
        <div *ngFor="let dayOfWeek of days" class="day">
            {{dayOfWeek}}
        </div>
    </div>
    <div *ngFor="let week of monthGrid" class="week">
        <div *ngFor="let day of week" class="day">
            {{day}}
        </div>
    </div>
</div>