<div class="calendar">
  <div class="calendar-header">
    <bvr-button
      icon="chevron_left"
      (click)="previousMonth()"
      styleClass="button-icon"></bvr-button>
    <h4>{{ currentMonth | month }} {{ currentYear }}</h4>
    <bvr-button
      icon="chevron_right"
      (click)="nextMonth()"
      styleClass="button-icon"></bvr-button>
  </div>
  <div class="week-days">
    <div *ngFor="let dayOfWeek of days" class="day">
      {{ dayOfWeek | slice: 0:3 }}
    </div>
  </div>
  <div *ngFor="let week of monthGrid" class="week">
    <div *ngFor="let day of week" class="day">
      {{ day }}
    </div>
  </div>
</div>
