<div
  class="edit-password"
  [formGroup]="editPasswordForm">
  <div
    class="edit-password-header"
    (click)="toggleAccordion()">
    <div class="form-header">{{ 'Set New Password' | uppercase }}</div>
    <div class="accordion-icon material-icons-outlined">
      {{ accordionEnabled ? 'expand_less' : 'expand_more' }}
    </div>
  </div>
  <div
    class="edit-password-content"
    [class.enabled]="accordionEnabled">
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Password"
        [required]="isRequired('password')">
        <input
          formControlName="password"
          type="password" />
        <bvr-error
          class="error"
          [control]="editPasswordForm.get(['password'])"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Repeat Password"
        [required]="isRequired('repeatPassword')">
        <input
          formControlName="repeatPassword"
          type="password" />
        <bvr-error
          class="error"
          [control]="editPasswordForm.get(['repeatPassword'])"></bvr-error>
      </bvr-form-field>
    </div>
    <bvr-error
      class="error"
      [control]="editPasswordForm"></bvr-error>
    <div class="form-buttons">
      <bvr-button
        class="form-button"
        (click)="openConfirmModal()"
        label="Confirm"
        styleClass="button-text"></bvr-button>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="confirm()"
  confirmLabel="Confirm"
  [description]="modalDescription"
  [title]="'Change password'"
  [(visible)]="isConfirmModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
