<div
  class="edit-password"
  [formGroup]="editPasswordForm">
  <div
    class="edit-password-header"
    (click)="toggleAccordion()">
    <div class="form-header">{{ 'Set New Password' | uppercase }}</div>
    <div class="accordion-icon material-icons-outlined">
      {{ accordionEnabled ? 'expand_less' : 'expand_more' }}
    </div>
  </div>
  <div
    class="edit-password-content"
    [class.enabled]="accordionEnabled">
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Password">
        <input
          formControlName="password"
          type="password" />
        <ng-container *ngIf="showErrors('password')">
          <small
            *ngIf="editPasswordForm.get(['password'])?.hasError('required')"
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Repeat Password">
        <input
          formControlName="repeatPassword"
          type="password" />
        <ng-container *ngIf="showErrors('repeatPassword')">
          <small
            *ngIf="
              editPasswordForm.get(['repeatPassword'])?.hasError('required')
            "
            >This field is required.</small
          >
        </ng-container>
      </bvr-form-field>
    </div>
    <div class="form-buttons">
      <bvr-button
        class="form-button"
        (click)="openConfirmModal()"
        label="Confirm"
        styleClass="button-text"></bvr-button>
    </div>
  </div>
</div>

<bvr-modal
  (confirm)="confirm()"
  confirmLabel="Confirm"
  [description]="modalDescription"
  [title]="'Change password'"
  [(visible)]="isConfirmModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
