<div class="date-picker">
  <div (click)="toggleCalendar()">
    <input readonly type="text" [value]="currentDay | date: 'dd/MM/yyyy'" />
    <span class="material-icons-outlined date-picker-icon">calendar_month</span>
  </div>
  <div *ngIf="calendarEnabled" class="date-picker-modal">
    <div class="date-picker-header">
      <bvr-button
        icon="chevron_left"
        (click)="previousMonth()"
        styleClass="button-icon">
      </bvr-button>
      <span>{{ currentMonth | month }} {{ currentYear }}</span>
      <bvr-button
        icon="chevron_right"
        (click)="nextMonth()"
        styleClass="button-icon">
      </bvr-button>
    </div>
    <div class="week-days">
      <div *ngFor="let dayOfWeek of days" class="day">
        {{ dayOfWeek | slice: 0:1 }}
      </div>
    </div>
    <div *ngFor="let week of monthGrid; let j = index" class="week">
      <div
        *ngFor="let day of week; let i = index"
        class="day"
        [class.disabled]="day.disabled"
        [class.selected]="isCurrentDay(day)"
        (click)="selectDay(day)">
        <span [class.saturday]="i === 5" [class.sunday]="i === 6">
          {{ day.date | date: 'd' }}
        </span>
      </div>
    </div>
  </div>
</div>
