<div class="card">
    <div class="header">
        <div class="title">
            <h2 class="name">
                Employee
            </h2>
        </div>
    </div>
    <div class="card-body view-employee">
        <div class="header">
            <div class="name">
                <img [src]="currentAccount.image" class="picture" [ngClass]="{ archived: !currentAccount.active }" />
                <h4>
                    {{ currentAccount.firstName }}
                    {{ currentAccount.lastName }}
                </h4>
                <h4 *ngIf="!currentAccount.active" class="archived">(Archived)</h4>
            </div>
            <div>
                <bvr-button *ngIf="currentAccount.active" icon="edit" [routerLink]="['edit']"
                    styleClass="button-icon"></bvr-button>
                <bvr-button *ngIf="currentAccount.active" (click)="openArchiveModal()" icon="archive"
                    styleClass="button-icon">
                </bvr-button>
            </div>
        </div>
        <div class="form">
            <div formGroupName="generalInfo">
                <bvr-form-field class="" label="Email">
                    <span>{{currentAccount.email}}</span>
                </bvr-form-field>
                <div class="row address-info">
                    <bvr-form-field class=" left-field" label="Position">
                        <span>{{currentAccount.position}}</span>
                    </bvr-form-field>
                    <div class="house-info">
                        <bvr-form-field class=" left-field" label="Working time">
                            <span>{{currentAccount.workingTime}}</span>
                        </bvr-form-field>
                        <bvr-form-field class=" field" label="Employment date">
                            <span>{{currentAccount.employmentDate | date: 'dd/MM/yyyy'}}</span>
                        </bvr-form-field>
                    </div>
                </div>
            </div>
            <div formGroupName="personalInfo">
                <bvr-form-field class="" label="Birth date">
                    <span>{{currentAccount.birthDate | date: 'dd/MM/yyyy'}}</span>
                </bvr-form-field>
            </div>
            <div formGroupName="contactInfo">
                <bvr-form-field label="Phone number">
                    <span>{{currentAccount.phoneNumber}}</span>
                </bvr-form-field>
                <bvr-form-field label="Private email">
                    <span>{{currentAccount.privateEmail}}</span>
                </bvr-form-field>
                <div class="row address-info">
                    <bvr-form-field class=" left-field" label="Street">
                        <span>{{currentAccount.street}}</span>
                    </bvr-form-field>
                    <div class="house-info">
                        <bvr-form-field class=" left-field" label="House number">
                            <span>{{currentAccount.houseNumber}}</span>
                        </bvr-form-field>
                        <bvr-form-field class=" field" label="Apartment number">
                            <span>{{currentAccount.apartmentNumber}}</span>
                        </bvr-form-field>
                    </div>
                </div>
                <div class="row">
                    <bvr-form-field class=" left-field" label="City">
                        <span>{{currentAccount.city}}</span>
                    </bvr-form-field>
                    <bvr-form-field class=" left-field" label="Postal code">
                        <span>{{currentAccount.postalCode}}</span>
                    </bvr-form-field>
                    <bvr-form-field class=" field" label="Country">
                        <span>{{currentAccount.country}}</span>
                    </bvr-form-field>
                </div>
            </div>
            <div formGroupName="billingInfo">
                <bvr-form-field label="Account number">
                    <span>{{currentAccount.accountNumber}}</span>
                </bvr-form-field>
            </div>
        </div>

        <div class="form-buttons">
            <bvr-button class="form-button" label="Cancel" [routerLink]="['..']" styleClass="button-text"></bvr-button>
        </div>
    </div>
</div>

<bvr-modal (confirm)="archive()" confirmLabel="archive" [description]="modalDescription" [title]="'Archive employee'"
    [(visible)]="isArchiveModalOpen"></bvr-modal>