<div
  *ngIf="editProjectForm"
  class="form"
  [formGroup]="editProjectForm">
  <div formGroupName="generalInfo">
    <div class="form-header">{{ 'General' | uppercase }}</div>
    <bvr-form-field
      label="Project Name"
      [required]="isRequired('name')">
      <input
        formControlName="name"
        placeholder="Project Name"
        type="text" />
      <bvr-error
        class="error"
        [control]="editProjectForm.get(['generalInfo', 'name'])"></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Logo"
        [required]="isRequired('image')">
        <bvr-file-upload formControlName="image"></bvr-file-upload>
        <bvr-error
          class="error"
          [control]="editProjectForm.get(['generalInfo', 'image'])"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Description"
        [required]="isRequired('description')">
        <textarea formControlName="description"></textarea>
        <bvr-error
          class="error"
          [control]="
            editProjectForm.get(['generalInfo', 'description'])
          "></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
