<div
  *ngIf="editProjectForm"
  class="form"
  [formGroup]="editProjectForm">
  <div formGroupName="generalInfo">
    <div class="form-header">{{ 'General' | uppercase }}</div>
    <bvr-form-field
      label="Project Name"
      [required]="controls.name">
      <input
        formControlName="name"
        placeholder="Project Name"
        type="text" />
      <bvr-error
        class="error"
        [control]="controls.name"></bvr-error>
    </bvr-form-field>
    <div class="row">
      <bvr-form-field
        class="left-field"
        label="Logo"
        [required]="isRequired(controls.image)">
        <bvr-file-upload formControlName="image"></bvr-file-upload>
        <bvr-error
          class="error"
          [control]="controls.image"></bvr-error>
      </bvr-form-field>
      <bvr-form-field
        class="field"
        label="Description"
        [required]="isRequired(controls.description)">
        <textarea formControlName="description"></textarea>
        <bvr-error
          class="error"
          [control]="controls.description"></bvr-error>
      </bvr-form-field>
    </div>
  </div>
</div>
