*::-webkit-scrollbar {
  background-color: $color-background;
  width: 2 * $grid-base;
}

*::-webkit-scrollbar-track {
  background-color: $color-background;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-text-secondary;
  border-radius: 4 * $grid-base;
}

*::-webkit-scrollbar-button {
  display: none;
}
