<div class="view-form">
  <div class="header">
    <div class="title">
      <h4>Add New Task</h4>
    </div>
  </div>
  <div
    class="form"
    [formGroup]="addProjectTaskForm">
    <bvr-form-field
      label="Task Name"
      placeholder="Task Name"
      [required]="isRequired('name')">
      <input
        formControlName="name"
        type="text" />
      <bvr-error
        class="error"
        [control]="addProjectTaskForm.get(['name'])"></bvr-error>
    </bvr-form-field>
    <bvr-form-field
      label="Task Description"
      [required]="isRequired('description')">
      <textarea
        formControlName="description"
        placeholder="Example task description"></textarea>
      <bvr-error
        class="error"
        [control]="addProjectTaskForm.controls['description']"></bvr-error>
    </bvr-form-field>
  </div>
</div>
<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new task'"
  [(visible)]="isAddModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
