<div class="project-task">
  <div class="header">
    <div class="name">
      <h4>Add New Task</h4>
    </div>
  </div>
  <div
    class="form"
    [formGroup]="addProjectTaskForm">
    <bvr-form-field
      label="Task Name"
      placeholder="Task Name"
      [required]="isRequired('name')">
      <input
        formControlName="name"
        type="text" />
      <ng-container *ngIf="showErrors('name')">
        <small *ngIf="addProjectTaskForm.get('name')?.hasError('required')"
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
    <bvr-form-field
      label="Task Description"
      [required]="isRequired('description')">
      <textarea
        formControlName="description"
        placeholder="Example task description"></textarea>
      <ng-container *ngIf="showErrors('description')">
        <small
          *ngIf="addProjectTaskForm.get('description')?.hasError('required')"
          >This field is required.</small
        >
      </ng-container>
    </bvr-form-field>
  </div>
</div>
<div class="form-buttons">
  <bvr-button
    class="form-button"
    (click)="openCancelModal(false)"
    label="Cancel"
    styleClass="button-text"></bvr-button>
  <bvr-button
    class="form-button"
    (click)="openAddModal()"
    label="Add"></bvr-button>
</div>

<bvr-modal
  (confirm)="add($event)"
  confirmLabel="Add"
  [description]="modalDescription"
  [title]="'Add new task'"
  [(visible)]="isAddModalOpen"></bvr-modal>
<bvr-modal
  (confirm)="cancel($event)"
  confirmLabel="Leave"
  [description]="modalDescription"
  [title]="'Leave'"
  [(visible)]="isCancelModalOpen"></bvr-modal>

<bvr-toast></bvr-toast>
